<section class="intro-section">
    <div class="container-fluid">
        <div class="row"  data-ng-if="isM == 'iPad'">
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/qrscanner" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('qrscanner')}">
                    <div class="ecom-icon"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">QR Scanner</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/category" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('category')}">
                    <div class="ecom-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Categories</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/products" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('products')}">
                    <div class="ecom-icon"><i class="fa fa-product-hunt" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Products</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/manage-customers" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('manage-customers')}">
                    <div class="ecom-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Manage Customers</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/manage-orders" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('manage-orders')}">
                    <div class="ecom-icon"><i class="fa fa-first-order" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Manage Orders</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/general-settings" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('general-settings')}">
                    <div class="ecom-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">General Settings</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/import-export" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('import-export')}">
                    <div class="ecom-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Import (Product)</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/sales-report" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('sales-report')}">
                    <div class="ecom-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Sales Report</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/email-template" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('email-template')}">
                    <div class="ecom-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Email Template</div>
                </a> </div>
        </div>
        <div class="row"  data-ng-if="isM == 'Desktop'">
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/category" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('category')}">
                    <div class="ecom-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Categories</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/products" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('products')}">
                    <div class="ecom-icon"><i class="fa fa-product-hunt" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Products</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/manage-customers" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('manage-customers')}">
                    <div class="ecom-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Manage Customers</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/manage-orders" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('manage-orders')}">
                    <div class="ecom-icon"><i class="fa fa-first-order" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Manage Orders</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/general-settings" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('general-settings')}">
                    <div class="ecom-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">General Settings</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/import-export" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('import-export')}">
                    <div class="ecom-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Import (Product)</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/sales-report" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('sales-report')}">
                    <div class="ecom-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Sales Report</div>
                </a> </div>
            <div class="col-lg-1 col-md-1 col-sm-1 top-menu"> <a href="/email-template" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('email-template')}">
                    <div class="ecom-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">Email Template</div>
                </a> </div>
        </div>
        <div class="row"  data-ng-if="isM == 'Mobile'">
            <div class="col-lg-1 col-md-1 col-sm-1"> <a href="/qrscanner" class="ecom-icon-box-view"
                    data-ng-class="{'active':MatchUrl('qrscanner')}">
                    <div class="ecom-icon"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
                    <div class="ecom-icon-name">QR Scanner</div>
                </a> </div>            
        </div>
    </div>
</section>