<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Product</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="category">Back to category</a>
                </div>
                <div class="pull-right">
                    <button type="button" data-toggle="modal" data-ng-click="reorderProduct()"
                        class="btn btn-danger">Reorder Product</button>
                </div>
            </div>
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                <div class="cssload-whirlpool"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
        ng-show="error != null">
        {{msg}}
    </div>
    <div data-ng-init="getProduct();" data-ng-show="!ShowLoader">
        <div class="ecom-product-item alert alert-info" data-ng-show="productdata.length <= 0">
            <label>No Records Found</label>
        </div>
        <div data-ng-show="productdata.length > 0">
            <div class="ecom-search-area">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <form class="form-inline" data-ng-submit="searchProduct();">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-describedby="inputGroupSuccess2Status"
                                    data-ng-model="search" placeholder="Search Products">
                                <span class="input-group-addon" data-ng-click="searchProduct();">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <span class="input-group-addon" data-ng-click="resetsearchProduct();">
                                    <a href="javascript:void(0);">Reset</a>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="ecom-product-item">
                <form>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>SKU</th>
                                <th>NAME</th>
                                <th>Display Order</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="product in productdata track by $index">
                                <td>{{product.id}}</td>
                                <td>{{product.sku}}</td>
                                <td>{{product.Name}}</td>
                                <td><input type="text" data-ng-model="product.productorder"></td>
                            </tr>
                        </tbody>

                    </table>
                </form>

            </div>
        </div>
    </div>
</section>