<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="ecom-category-area">        
        <div class="row">
            <h3 class="pos-rel">
                <span>Customer {{address_type}} address</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="javascript:void(0);" onclick="window.history.back();">Back to customer details</a>
                </div>
            </div>  
            <div class="pull-right">
                <button type="button" data-toggle="modal" data-ng-click="AddNewaddress()" class="btn btn-danger" >Add</button>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}" ng-show="modalerror != null">
                {{modalmsg}}
            </div>            
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading" data-ng-if="frommode == 'Add'">Add {{address_type}} address</div>
        <div class="panel-heading" data-ng-if="frommode == 'Edit'">Edit {{address_type}} address</div>                         
        <div class="panel-body">
            <form name="productForm">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Name <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" data-ng-model="addressform.name">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Phone No <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="phoneno" class="form-control" data-ng-model="addressform.phoneno">
                        </div>
                    </div>
                    
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Pincode <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="pingcode" class="form-control" data-ng-model="addressform.pincode">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Near By Location <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="nearByLocation" class="form-control" data-ng-model="addressform.nearByLocation">
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <label>Address <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="address" class="form-control" data-ng-model="addressform.address">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>City <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="city" class="form-control" data-ng-model="addressform.city">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>State <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="state" class="form-control" data-ng-model="addressform.state">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Country <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="country" class="form-control" data-ng-model="addressform.country">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Landmark</label>
                        <div class="form-group">
                            <input type="text" name="landmark" class="form-control" data-ng-model="addressform.landmark">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Alternate Phone</label>
                        <div class="form-group">
                            <input type="text" name="alrternetPH" class="form-control" data-ng-model="addressform.alrternetPH">
                        </div>
                    </div>                                                
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="form-group pull-right">
                            <button type="button" id="saveaddressbutton" class="btn btn-primary" data-ng-click="addCustomerAddress()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save Address</button>
                        </div>
                    </div>
                </div>
            </form>    
            <div class="row">
                <div class="col-md-4 col-sm-4" data-ng-repeat="customeraddress in customerDetailsAddressdata track by $index">
                    <div class="panel panel-default font-12 min-height-ecom">
                        <div class="panel-heading"><strong>Address {{$index+1}}</strong>
                            <span class="label label-success ng-hide" data-ng-if="customeraddress.is_default==1">Default</span>
                            <span class="label label-danger ng-hide" data-ng-click="makeDefault(customeraddress);" data-ng-if="customeraddress.is_default==0">Make Default</span>
                            <span class="label label-danger" data-ng-click="editAddress(customeraddress);"><i class="fa fa-edit" aria-hidden="true"></i></span>
                             <span class="label label-danger" data-ng-click="DeleteAddress(customeraddress);"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                            <span class="bigcheck">
                                <label class="bigcheck">
                                     <input ng-checked="customeraddress.is_default==1" type="checkbox" class="bigcheck" value="1"  data-ng-click="makeDefault(customeraddress);"/>
                                     <span class="bigcheck-target"></span>
                                </label>
                            </span>
                        </div>
                        <div class="panel-body">
                            <div class="row offsetbottom10">
                                <div class="col-md-12">
                                    <label><strong>Name</strong></label> : <span >{{customeraddress.name}}</span>
                                </div>
                            </div>
                            <div class="row offsetbottom10">
                                <div class="col-md-12"><strong>Address </strong> : <span>{{customeraddress.address}}</span> </div>
                            </div>
                            <div class="row offsetbottom10">
                                <div class="col-md-12"><strong>City </strong> : <span>{{customeraddress.city}}</span> </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><strong>State </strong> : <span>{{customeraddress.state}}</span> </div>
                                <div class="col-md-12"><strong>Pincode </strong> : <span>{{customeraddress.pincode}}</span> </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12"><strong>Ph No. </strong> : <span>{{customeraddress.phoneno}}</span> </div>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </div>
</section>
