<div ng-include="'modules/element/top_menu.html'"></div>
<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-default font-12">
                            <div class="panel-heading"><strong>Order Details</strong>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <th class="active" width="10px"></th>
                                            <th class="active">Product Image</th>
                                            <th class="active">Product Name </th>
                                            <th class="active">Qty</th>
                                            <th class="active">Price</th>
                                            <th class="active">Total</th>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <img width="70" height="70" src="https://snappy.appypie.com/media/user_space/02e33100e77d/ecomm/ecomm_1499025767_7337.jpg">
                                            </td>
                                            <td>Prod 1 <br>Color:Blue</td>
                                            <td>2</td>
                                            <td>$50.00</td>
                                            <td>$100</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <img width="70" height="70" src="https://snappy.appypie.com/media/user_space/02e33100e77d/ecomm/ecomm_1499025767_7337.jpg">
                                            </td>
                                            <td>Prod 1 <br>Color:Red</td>
                                            <td>3</td>
                                            <td >$40.00</td>
                                            <td >$120</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <table width="50%" class="table table-condensed offsetbottomnone" style="margin-top:-6px !important;">
                                                    <tbody>
                                                        <tr>
                                                            <td width="87%" align="right">Sub total</td>
                                                            <td width="" align="left"></td>
                                                            <td width="" align="left">$220.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">Tax</td>
                                                            <td align="left"></td>
                                                            <td align="left">$0.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right"> Coupon</td>
                                                            <td align="left"></td>
                                                            <td align="left">$22.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">GST</td>
                                                            <td align="left"></td>
                                                            <td align="left">$39.60</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">Discount</td>
                                                            <td align="left"></td>
                                                            <td align="left">$0.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">SHIPPING</td>
                                                            <td align="left"></td>
                                                            <td align="left">$23.76</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="active"><strong>Grand Total</strong></td>
                                                            <td align="left" class="active"></td>
                                                            <td align="left" class="active"><strong>$261.36</strong></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading"><strong>Order Information</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <label><strong>Order Date</strong></label> : <span >03 Jul 2017 15:28:22</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12"><strong>Order Status </strong> : <span>Processing</span> </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12"><strong>Payment Method </strong> : <span>Cash on Delivery</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Payment Status </strong> : <span> In Process</span> </div>
                                    <div class="col-md-12"><strong>Payment Status </strong> : <span> Complete</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Transaction Id </strong> : <span>-</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="panel panel-default min-height-ecom">
                            <div class="panel-heading"><strong>Customer Information</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12"><strong>Customer Name </strong> : <span>test</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Email</strong> : <span>dts.ritwik@dreamztech.com</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Phone No</strong> : <span>9836229486</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default min-height-ecom">
                            <div class="panel-heading"><strong>Billing Address</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>test,</div>
                                        <div>321 ,</div>
                                        <div>231 132131 sfds ()</div>
                                        <div>231 132131 sfds</div>
                                        <div>Telephone : 12312412</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading"><strong>Shipping Address</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>test,</div>
                                        <div>321 ,</div>
                                        <div>231 132131 sfds (AF)</div>
                                        <div>231 132131 sfds</div>
                                        <div>Telephone : 12312412</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-default font-12">
                            <div class="panel-heading"><strong>Comments History</strong>
                            </div>
                            <div class="panel-body"> <strong>Status</strong> : <span>Pending</span><br>
                                <strong>Comments</strong> : <span>Order Placed</span> <br>
                                <strong>Date</strong> : <span>03 Jul 2017 15:28:22</span> </div>
                            <div class="panel-body"> <strong>Status</strong> : <span >Processing</span><br>
                                <strong>Comments</strong> : <span>Payment Made</span> <br>
                                <strong>Date</strong> : <span>03 Jul 2017 15:29:41</span> </div>
                            <div class="panel-body"> <strong>Status</strong> : <span>Processing</span><br>
                                <strong>Comments</strong> : <span>Invoice Created</span> <br>
                                <strong>Date</strong> : <span>03 Jul 2017 15:29:46</span> </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading"><strong>Shipping Information</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <label>Carrier <span>*</span></label>
                                        <div class="form-group">
                                            <select class="form-control m-bot15">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <label>Tracking URl <span>*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <label>Title <span>*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <label>Tracking Number <span>*</span></label>
                                        <div class="form-group">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default hidden">Ship</button>
                <button type="button" class="btn btn-primary">Print Invoice</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="orderModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="panel panel-default font-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}" ng-show="modalerror != null">
                                    {{modalmsg}}
                                </div>
                                <div class="panel-heading"><strong>Order Details #{{orderDetailsData.orderidentifier}}</strong></div>
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <th class="active" width="10px"></th>
                                                <th class="active">Product Image</th>
                                                <th class="active">Product Name </th>
                                                <th class="active">Qty</th>
                                                <th class="active">Price</th>
                                                <th class="active">Total</th>
                                            </tr>
                                            <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                                <td></td>
                                                <td>
                                                    <img width="70" height="70" data-ng-src="{{product.imagePath}}">
                                                </td>
                                                <td>
                                                    {{product.Productname}} 
                                                    <br>
                                                    ({{product.sku}})
                                                    <br>
                                                    <div data-ng-if="product.hasOwnProperty('varients') && product.varients.length > 1">
                                                        <ul >
                                                            <li data-ng-repeat="varient in product.varients track by $index" data-ng-init="varientquantity=((varient.quantity==0)?1:varient.quantity)">
                                                                <label><span data-ng-if="varientquantity > 0">{{varientquantity}}</span> {{varient.title}}</label>                                                            
                                                                <span > : {{addition(varient.price,product.baseprice)* varientquantity | currencyConvert : orderDetailsData.OrderCurrecnyCode }}</span>
                                                            </li>
                                                        </ul> 
                                                    </div>
                                                </td>
                                                <td>{{product.cartQuantity}} </td>
                                                <td>{{product.baseprice| currencyConvert : product.currency_code }} </td>
                                                <td>{{product.price| currencyConvert : product.currency_code}} </td>
                                            </tr><!-- end ngRepeat: prod in orderDet.productListArr -->
                                            <tr>
                                                <td colspan="6">
                                                    <table width="50%" class="table table-condensed offsetbottomnone" style="margin-top:-6px !important;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="87%" align="right">Sub total</td>
                                                                <td width="" align="left"></td>
                                                                <td width="" align="right">{{orderDetailsData.ordersummary.priceInfo.subtotal| currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Tax</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.Taxes| currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr data-ng-if="orderDetailsData.ordersummary.priceInfo.coupon > 0">
                                                                <td align="right"> Coupon</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.coupon| currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td align="right">Discount</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.Discounts| currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Shipping</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.shipping| currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right" class="active"><strong>Grand Total</strong></td>
                                                                <td align="left" class="active"></td>
                                                                <td align="right" class="active"><strong>{{orderDetailsData.ordersummary.priceInfo.Gross| currencyConvert : orderDetailsData.OrderCurrecnyCode}}</strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Order Information</strong></div>
                                <div class="panel-body">
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12">
                                            <label><strong>Order Date</strong></label>: <span>{{orderDetailsData.datetime}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Order Status </strong> : <span>{{orderDetailsData.OrderStatus}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Payment Method </strong> : <span>{{orderDetailsData.PaymentTypeName}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Payment Status </strong> : <span> {{orderDetailsData.PaymentStatusName}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10" data-ng-if="orderDetailsData.tranaction_id!=null">
                                        <div class="col-md-12"><strong>Transaction Id </strong> : <span>{{orderDetailsData.tranaction_id}}</span> </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Customer Information</strong></div>
                                <div class="panel-body">
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Customer Name </strong> : <span>{{orderDetailsData.CustomerFullName}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Email</strong> : <span>{{orderDetailsData.Email}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Phone No</strong> : <span>{{orderDetailsData.PhoneNumber}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10 ng-hide">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row offsetbottom10 ng-hide">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Billing Address</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="offsetbottom10">{{orderDetailsData.Billingname}}</div>
                                            <div class="offsetbottom10">{{orderDetailsData.Billingaddress}}</div>
                                            <div class="offsetbottom10" ng-if="orderDetailsData.BillingLandmark != ''">
                                                {{orderDetailsData.BillingLandmark}}
                                            </div>
                                            <div class="offsetbottom10">
                                                {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                            </div>
                                            <div>Telephone : {{orderDetailsData.BillingPhone}}</div>
                                            <div ng-if="orderDetailsData.BillingAltrphone != ''">Alternate Telephone :{{orderDetailsData.BillingAltrphone}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Shipping Address</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="offsetbottom10">{{orderDetailsData.Shippingname}}</div>
                                                <div class="offsetbottom10">{{orderDetailsData.Shippingaddress}}</div>
                                                <div class="offsetbottom10" ng-if="orderDetailsData.ShippingLandmark != ''">
                                                    {{orderDetailsData.ShippingLandmark}}
                                                </div>
                                                <div class="offsetbottom10">
                                                    {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                                </div>
                                                <div>Telephone : {{orderDetailsData.ShippingPhone}}</div>
                                                <div ng-if="orderDetailsData.ShippingAltrphone != ''">Alternate Telephone :{{orderDetailsData.ShippingAltrphone}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.trackingid != null && getGeneralSettings.Industryid==storeType.store">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Tracking Info</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <div ng-if="orderDetailsData.shipperaddress != ''">
                                                    Shippers Address : {{orderDetailsData.shipperaddress}}
                                                </div>
                                                <div ng-if="orderDetailsData.trackingid != null">
                                                    Tracking No : {{orderDetailsData.trackingid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.trackingid != null && getGeneralSettings.Industryid==storeType.resturent">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Tracking Info</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <div ng-if="orderDetailsData.shipperaddress != ''">
                                                    Time : {{orderDetailsData.shipperaddress}}
                                                </div>
                                                <div ng-if="orderDetailsData.trackingid != ''">
                                                    Text : {{orderDetailsData.trackingid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-if="makeshipping && getGeneralSettings.Industryid==storeType.store">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="exampleInput">Shippers Address</label>
                            <input type="text" class="form-control" placeholder="Enter Shippers Address" data-ng-model="ShipmentForm.shipperAddress">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Tracking No</label>
                            <input type="text" class="form-control" placeholder="Enter Tracking No" data-ng-model="ShipmentForm.trackingNO">
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-if="makeshipping && getGeneralSettings.Industryid==storeType.resturent">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="exampleInput">Time</label>
                            <input type="text" class="form-control" placeholder="Enter Shippers Address" data-ng-model="ShipmentForm.shipperAddress">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Text</label>
                            <input type="text" class="form-control" placeholder="Enter Tracking No" data-ng-model="ShipmentForm.trackingNO">
                        </div>
                    </div>
                </div>
                <div class="ng-hide" id="printdiv">
                    <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                            <tr>
                                <td colspan="2" style="padding:5px;vertical-align:top;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td style="padding-bottom:10px;font-size:16px;line-height:45px;color:#333;">Invoice #{{orderDetailsData.orderidentifier}}</td>
                                            <td style="text-align:right;padding-bottom:10px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"></td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"> DESCRIPTION</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"  align="right"> Quantity</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"  align="right"> Price</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"  align="right"> Total</td>
                                        </tr>
                                        <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                            <td style="border-bottom:1px solid #eee; padding:5px;"> <img width="70" height="70" data-ng-src="{{product.imagePath}}"> </td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"> {{product.Productname}}<br>
                                                                        ({{product.sku}})<br>
                                                                        <div data-ng-if="product.hasOwnProperty('varients') && product.varients.length > 1">
                                                                            <ul >
                                                                                <li data-ng-repeat="varient in product.varients track by $index" data-ng-init="varientquantity=((varient.quantity==0)?1:varient.quantity)">
                                                                                    <label><span data-ng-if="varientquantity > 0">{{varientquantity}}</span> {{varient.title}}</label>                                                            
                                                                                    <span > : {{addition(varient.price,product.baseprice)* varientquantity | currencyConvert : orderDetailsData.OrderCurrecnyCode }}</span>
                                                                                </li>
                                                                            </ul> 
                                                                        </div></td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right"> {{product.cartQuantity}}</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right"> {{product.baseprice| currencyConvert : product.currency_code }}</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right"> {{product.price| currencyConvert : product.currency_code}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Sub total</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right">{{orderDetailsData.ordersummary.priceInfo.subtotal | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;"  align="right">Tax</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right">{{orderDetailsData.ordersummary.priceInfo.Taxes | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr><tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;"  align="right">Coupon</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right">{{orderDetailsData.ordersummary.priceInfo.coupon | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;"  align="right">Discount</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right">{{orderDetailsData.ordersummary.priceInfo.Discounts | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;"  align="right">Shipping</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right">{{orderDetailsData.ordersummary.priceInfo.shipping | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;"  align="right">Grand Total</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"  align="right">{{orderDetailsData.ordersummary.priceInfo.Gross | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;"> Order Information </td>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;"> Customer Information </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 5px 10px;"> 
                                    <strong>Order Date</strong>: <span>{{orderDetailsData.datetime}}</span><br>
                                    <strong>Order Status </strong> : <span>{{orderDetailsData.OrderStatus}}</span><br>
                                    <strong>Payment Method </strong> : <span>{{orderDetailsData.PaymentTypeName}}</span><br>
                                    <strong>Payment Status </strong> : <span> {{orderDetailsData.PaymentStatusName}}</span><br>
                                    <span data-ng-if="orderDetailsData.tranaction_id!=null">
                                        <strong>Transaction Id </strong> : <span>{{orderDetailsData.tranaction_id}}</span>
                                    </span>
                                </td>
                                <td style="padding:5px 5px 10px;"> 
                                    <strong>Customer Name </strong> : <span>{{orderDetailsData.CustomerFullName}}</span><br>
                                    <strong>Email</strong> : <span>{{orderDetailsData.Email}}</span><br>
                                    <strong>Phone No</strong> : <span>{{orderDetailsData.PhoneNumber}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;"> Billing Address </td>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;"> Shipping Address </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 5px 10px;"> 
                                    {{orderDetailsData.Billingname}}<br>
                                    {{orderDetailsData.Billingaddress}}<br>
                                    <span ng-if="orderDetailsData.BillingLandmark != ''">
                                        {{orderDetailsData.BillingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                </td>
                                <td style="padding:5px 5px 10px;"> 
                                    {{orderDetailsData.Shippingname}}<br>
                                    {{orderDetailsData.Shippingaddress}}<br>
                                    <span ng-if="orderDetailsData.ShippingLandmark != ''">
                                        {{orderDetailsData.ShippingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px;">This is a computer generated document</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div data-ng-if="orderDetailsData.trackingid != ''" id="packingslip" class="ng-hide">
                    <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                            <tr>
                                <td colspan="2" style="padding:5px;vertical-align:top;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td style="padding-bottom:10px;font-size:16px;line-height:45px;color:#333;">Packing slip</td>
                                            <td style="text-align:right;padding-bottom:10px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-bottom:20px;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td> <b>Shippers Address</b><br>
                                            {{orderDetailsData.shipperaddress}}
                                            <td style="text-align:right;"> Tracking Number-{{orderDetailsData.trackingid}}<br></td>
                                        </tr>
                                    </table>
                                </td>      
                            </tr>
                            <tr>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;"> Billing Address </td>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;"> Shipping Address </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 5px 10px;"> 
                                    {{orderDetailsData.Billingname}}<br>
                                    {{orderDetailsData.Billingaddress}}<br>
                                    <span ng-if="orderDetailsData.BillingLandmark != ''">
                                        {{orderDetailsData.BillingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                </td>
                                <td style="padding:5px 5px 10px;"> 
                                    {{orderDetailsData.Shippingname}}<br>
                                    {{orderDetailsData.Shippingaddress}}<br>
                                    <span ng-if="orderDetailsData.ShippingLandmark != ''">
                                        {{orderDetailsData.ShippingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;padding:5px 5px 20px;;">Order ID {{orderDetailsData.orderidentifier}}</td>
                                <td style="font-weight:bold;padding:5px 5px 20px;;text-align:right;"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"> QTY</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"> DESCRIPTION</td>
                                        </tr>
                                        <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                            <td style="border-bottom:1px solid #eee; padding:5px;"> {{product.cartQuantity}} </td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"> <b>{{product.Productname}}</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px;">This is a computer generated document</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <div data-ng-if="getGeneralSettings.Industryid==storeType.store">
                    <button type="button" class="btn btn-primary" data-ng-click="makeProcessing();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Process Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="cancelOrder();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Cancel Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="makeShipment();" data-ng-if="!makeshipping && orderDetailsData.OrderStatus=='Processing'">Ship Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="processShipment();" data-ng-if="makeshipping && orderDetailsData.OrderStatus=='Processing'">Make Shipment</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus=='Shipped'" data-ng-click="printDiv('packingslip')">Print Shipping Label</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus!='Pending'" data-ng-click="printDiv('printdiv')">Print Invoice</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <div data-ng-if="getGeneralSettings.Industryid==storeType.resturent">
                    <button type="button" class="btn btn-primary" data-ng-click="makeProcessing();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Process Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="cancelOrder();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Cancel Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="makeShipment();" data-ng-if="!makeshipping && orderDetailsData.OrderStatus=='Processing'">Deliver Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="processShipment();" data-ng-if="makeshipping && orderDetailsData.OrderStatus=='Processing'">Make Delivery</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus=='Shipped'" data-ng-click="printDiv('packingslip')">Print Label</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus!='Pending'" data-ng-click="printDiv('printdiv')">Print Invoice</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="addressModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manage {{addressform.address_type}} address</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel font-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="panel panel-default font-12 min-height-ecom">
                                        <div class="panel-heading"><strong>Add Address</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}" ng-show="modalerror != null">
                                                {{modalmsg}}
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Name <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control" data-ng-model="addressform.name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Phone No <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="phoneno" class="form-control" data-ng-model="addressform.phoneno">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Pincode <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="pingcode" class="form-control" data-ng-model="addressform.pincode">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Near By Location <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="nearByLocation" class="form-control" data-ng-model="addressform.nearByLocation">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <label>Address <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="address" class="form-control" data-ng-model="addressform.address">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>City <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="city" class="form-control" data-ng-model="addressform.city">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>State <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="state" class="form-control" data-ng-model="addressform.state">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Country <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="country" class="form-control" data-ng-model="addressform.country">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Landmark</label>
                                                    <div class="form-group">
                                                        <input type="text" name="landmark" class="form-control" data-ng-model="addressform.landmark">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Alternate Phone</label>
                                                    <div class="form-group">
                                                        <input type="text" name="alrternetPH" class="form-control" data-ng-model="addressform.alrternetPH">
                                                    </div>
                                                </div>                                                
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <div class="form-group pull-right">
                                                        <button type="button" id="saveaddressbutton" class="btn btn-primary" data-ng-click="addCustomerAddress()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save Address</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4" data-ng-repeat="customeraddress in customerDetailsAddressdata track by $index">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading"><strong>Address {{$index+1}}</strong>
                                <span class="label label-success ng-hide" data-ng-if="customeraddress.is_default==1">Default</span>
                                <span class="label label-danger ng-hide" data-ng-click="makeDefault(customeraddress);" data-ng-if="customeraddress.is_default==0">Make Default</span>
                                <span class="label label-danger" data-ng-click="editAddress(customeraddress);"><i class="fa fa-edit" aria-hidden="true"></i></span>
                                 <span class="label label-danger" data-ng-click="DeleteAddress(customeraddress);"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                                <span class="bigcheck">
				                    <label class="bigcheck">
							             <input ng-checked="customeraddress.is_default==1" type="checkbox" class="bigcheck" value="1"  data-ng-click="makeDefault(customeraddress);"/>
						                 <span class="bigcheck-target"></span>
                                    </label>
				                </span>
                            </div>
                            <div class="panel-body">
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <label><strong>Name</strong></label> : <span >{{customeraddress.name}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12"><strong>Address </strong> : <span>{{customeraddress.address}}</span> </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12"><strong>City </strong> : <span>{{customeraddress.city}}</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>State </strong> : <span>{{customeraddress.state}}</span> </div>
                                    <div class="col-md-12"><strong>Pincode </strong> : <span>{{customeraddress.pincode}}</span> </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"><strong>Ph No. </strong> : <span>{{customeraddress.phoneno}}</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<section class="container-fluid">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Customers Details</span>
            </h3>

            <div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div>
                        <a href="javascript:void(0);" onclick="window.history.back();"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Manage Customer</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}" ng-show="error != null">
        {{msg}}
    </div>
    <div class="ecom-product-item" data-ng-init="getCustomerDetails();">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div class="customer-details">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0);" aria-expanded="true" aria-controls="collapseOne">
                                    Personal Information
                                </a>
                            </h4>

                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Confirmed Email</th>
                                            <th>Account Created on</th>
                                            <th>Default Billing Address</th>
                                            <th>Default Shipping Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{customerDetailsdata.Email}}</td>
                                            <td>{{customercreatedate | date : 'dd-MMMM-yyyy HH:mm:ss' }}</td>
                                            <td>
                                                {{customerDetailsdata.billing_address}} 
                                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/customer-address/billing/{{customerDetailsdata.id}}"><i class="fa fa fa-plus"></i></a> 
                                            </td>
                                            <td>
                                                {{customerDetailsdata.shipping_address}}
                                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/customer-address/shipping/{{customerDetailsdata.id}}" ><i class="fa fa fa-plus"></i>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default" data-ng-init="getOrder();">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:void(0);" aria-expanded="false" aria-controls="collapseTwo">
                                    Order History
                                </a>
                            </h4>

                        </div>
                        <div id="collapseTwo" class="panel-collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Purchased On</th>
                                            <th>Bill to Name</th>
                                            <th>Ship to Name</th>
                                            <th>Purchased</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="order in orderData track by $index">
                                            <td ng-bind-html="order.orderidentifier"></td>
                                            <td>{{order.FormatedDateTime}}</td>
                                            <td>{{order.Billingname}}</td>
                                            <td>{{order.Shippingname}}</td>
                                            <th>{{order.grandtotal | currencyConvert : order.OrderCurrecnyCode}}</th>
                                            <th>{{order.OrderStatus}}</th>
                                            <th>
                                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/order-details/{{order.id}}"><i class="fa fa fa-eye"></i></a>
                                                <a href="javascript:void(0);" class="delete ng-hide" title="Remove" data-toggle="modal" data-target="#myModal1"><i class="fa fa-trash-o"></i></a>
                                            </th>
                                        </tr>
                                        <tr data-ng-if="orderData.length<=0">
                                            <td colspan="11">No Records Found</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <paging class="small" page="currentPage" page-size="pageSize" total="total" pg-href="{{pgHref}}?page={page}" adjacent="{{adjacent}}" dots="{{dots}}" hide-if-empty="{{hideIfEmpty}}" show-prev-next="{{showPrevNext}}" show-first-last="{{showFirstLast}}"></paging>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
