<section id="intro" class="intro-section">
   <div class="container-fluid">
      <div class="row" data-ng-if="isM == 'Desktop'">
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/category">
               <div class="ecom-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Categories</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/products">
               <div class="ecom-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Products</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/manage-customers">
               <div class="ecom-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Manage Customers</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/manage-orders">
               <div class="ecom-icon"><i class="fa fa-first-order" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Manage Orders</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/general-settings">
               <div class="ecom-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
               <div class="ecom-category-name">General Settings</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/import-export">
               <div class="ecom-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Import Product</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/sales-report">
               <div class="ecom-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Sales Report</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/email-template">
               <div class="ecom-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Email Template</div>
            </a>
         </div>
      </div>
      <div class="row" data-ng-if="isM == 'iPad'">
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/qrscanner">
               <div class="ecom-icon"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
               <div class="ecom-category-name">QR Scanner</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/category">
               <div class="ecom-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Categories</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/products">
               <div class="ecom-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Products</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/manage-customers">
               <div class="ecom-icon"><i class="fa fa-users" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Manage Customers</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/manage-orders">
               <div class="ecom-icon"><i class="fa fa-first-order" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Manage Orders</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/general-settings">
               <div class="ecom-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
               <div class="ecom-category-name">General Settings</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/import-export">
               <div class="ecom-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Import/Export Product</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/sales-report">
               <div class="ecom-icon"><i class="fa fa-bar-chart" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Sales Report</div>
            </a>
         </div>
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/email-template">
               <div class="ecom-icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
               <div class="ecom-category-name">Email Template</div>
            </a>
         </div>
      </div>
      <div class="row" data-ng-if="isM == 'Mobile'">
         <div class="col-lg-2 col-md-2 col-sm-4">
            <a class="ecom-icon-box" href="/qrscanner">
               <div class="ecom-icon"><i class="fa fa-qrcode" aria-hidden="true"></i></div>
               <div class="ecom-category-name">QR Scanner</div>
            </a>
         </div>         
      </div>
   </div>
</section>