<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Customer</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="javascript:void(0);" onclick="window.history.back();">Back to manage customer</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}"
                ng-show="modalerror != null">
                {{modalmsg}}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-ng-if="frommode == 'Add'">Add Customer</div>
        <div class="panel-heading" data-ng-if="frommode == 'Edit'">Edit Customer</div>
        <div class="panel-body">
            <form name="productForm">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>First Name <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" data-ng-model="customerform.firstname">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Last Name <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="phoneno" class="form-control" data-ng-model="customerform.lastname">
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Email <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="pingcode" class="form-control" data-ng-model="customerform.email">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Phone no <span>*</span></label>
                        <div class="form-group">
                            <input type="text" name="nearByLocation" class="form-control" data-ng-model="customerform.phone">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Password <span>*</span></label>
                        <div class="form-group">
                            <input type="password" name="address" class="form-control" data-ng-model="customerform.password">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Confirm Password <span>*</span></label>
                        <div class="form-group">
                            <input type="password" name="city" class="form-control" data-ng-model="customerform.confirm_password">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>DOB </label>
                        <div class="form-group">
                            <input type="text" name="dob" class="form-control" data-ng-model="customerform.dob"
                                data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Marriage Anniversary Date </label>
                        <div class="form-group">
                            <input type="text" name="marriageAnniversaryDate" class="form-control" data-ng-model="customerform.marriageAnniversaryDate"
                                data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6">
                        <label>Gender </label>
                        <div class="form-group">
                            <select class="form-control m-bot15" data-ng-model="customerform.Gender">
                                <option value="1">Female</option>
                                <option value="0">Male</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="form-group pull-right">
                            <button type="button" id="savecustomerbutton" class="btn btn-primary" data-ng-click="addCustomer()"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save</button>
                            <a class="btn btn-danger" href="javascript:void(0);" onclick="window.history.back();">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>