<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 help-top-block" style="display: block;">
            <div class="header_menu" style="padding: 20px;">
                <div class="dash_content app_dash_content" style="border: 1px solid #cccccc;">
                    <div class="visible-con">
                        <h4 style="text-align: center;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> How To
                            Manage Ecommerce Email Templates
                            <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="!exhemp"
                                data-ng-click="exhemp = true">
                                <i class="fa fa-chevron-circle-down down" aria-hidden="true"></i>
                            </a>
                            <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="exhemp"
                                data-ng-click="exhemp = false">
                                <i class="fa fa-chevron-circle-up up" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div style="height: auto;" class="row" id="collapseExample" data-ng-show="exhemp">
                        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="margin: 0 auto;width: 650px; padding:10px;" class="text-center">
                                <div class="wistia_embed wistia_async_raqher9ltb" style="width:640px;height:360px;margin-bottom: 20px;">&nbsp;</div>
                                <a href="https://fast.wistia.net/embed/iframe/raqher9ltb?videoFoam=true" class="btn btn-danger" target="_blank">VIEW IN FULL SCREEN</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid" data-ng-init="getEmailList();">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Email Template</span>
            </h3>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}" ng-show="error != null && msg!=null">
                {{msg}}
            </div>
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                    <div class="cssload-whirlpool"></div>
            </div>            
        </div>
    </div>
    <div class="ecom-product-item">
        <div class="col-md-12 col-sm-12 col-lg-12" data-ng-hide="ShowLoader">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><input class="checkall" type="checkbox" ng-model="selectAll" ></th>
                        <th>Name</th>
                        <th>Email Subject</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="email in emaildata track by $index">
                        <td><input class="checkall" type="checkbox" ng-checked="selectAll"></td>
                        <td>{{email.email_name}}</td>
                        <td>{{email.email_subject}}</td>
                        <td>
                            <a href="javascript:void(0);" class="view" title="Edit" data-ng-href="/manage-email-template/{{email.email_type}}"><i class="fa fa fa-edit"></i></a>
                            <a href="javascript:void(0);" class="active ng-hide" title="active" data-ng-click="makeInactive(customer, 1);"> <i class="fa fa-check" aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr data-ng-if="customerdata.Customers.length==0">
                        <td colspan="5">No records found</td>
                    </tr>
                </tbody>
            </table>
            <paging class="small" page="currentPage" page-size="pageSize" total="total" pg-href="{{pgHref}}?page={page}" adjacent="{{adjacent}}" dots="{{dots}}" hide-if-empty="{{hideIfEmpty}}" show-prev-next="{{showPrevNext}}" show-first-last="{{showFirstLast}}"></paging>
        </div>
    </div>
</section>