<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
  <div class="row">
      <div class="col-md-12 help-top-block" style="display: block;">
          <div class="header_menu" style="padding: 20px;">
              <div class="dash_content app_dash_content" style="border: 1px solid #cccccc;">
                  <div class="visible-con">
                      <h4 style="text-align: center;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> How To
                          Manage Ecommerce Product Import
                          <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="!exhemp"
                              data-ng-click="exhemp = true">
                              <i class="fa fa-chevron-circle-down down" aria-hidden="true"></i>
                          </a>
                          <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="exhemp"
                              data-ng-click="exhemp = false">
                              <i class="fa fa-chevron-circle-up up" aria-hidden="true"></i>
                          </a>
                      </h4>
                  </div>
                  <div style="height: auto;" class="row" id="collapseExample" data-ng-show="exhemp">
                      <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <div style="margin: 0 auto;width: 650px; padding:10px;" class="text-center">
                              <div class="wistia_embed wistia_async_twug6ydpyn" style="width:640px;height:360px;margin-bottom: 20px;">&nbsp;</div>
                              <a href="https://fast.wistia.net/embed/iframe/twug6ydpyn?videoFoam=true" class="btn btn-danger" target="_blank">VIEW IN FULL SCREEN</a>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="container-fluid">
  <div class="ecom-category-area">
    <div class="row">
      <h3 class="pos-rel">
        <span>Import(Product)</span>
      </h3>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
    ng-show="error != null">
    {{msg}}
  </div>
  <div class="cssload-container" data-ng-hide="!ShowLoader">
    <div class="cssload-whirlpool"></div>
  </div>
  <div class="ecom-product-item"  data-ng-show="!ShowLoader">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs"></div>
        <div class="col-sm-8 col-md-8 col-lg-8 hidden-xs">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail text-center">
              <div class="red-icon">
                <i class="fa fa-upload" aria-hidden="true"></i>
              </div>
              <div class="caption">
                <h3>Upload CSV</h3>
                <span class="btn btn-primary btn-file img-select-btn" style="overflow: hidden;position: relative;">
                  <span>Upload CSV File</span>
                  <input type="file" ng-model-instant onchange="angular.element(this).scope().importProducts(this);" />
                </span>
                <!--<p><a href="javascript:void(0);" id="importProductsButton" class="btn btn-primary" role="button" data-ng-click="importProducts();" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Upload CSV File</a> </p>-->
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="thumbnail text-center">
              <div class="red-icon">
                <i class="fa fa-download" aria-hidden="true"></i>
              </div>
              <div class="caption">
                <h3>Download Sample CSV</h3>
                <p>
                  <a href="javascript:void(0);" data-ng-click="downloadFile();" class="btn btn-primary" role="button">Download CSV File</a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 col-md-4 col-lg-4 ng-hide">
            <div class="thumbnail text-center">
              <div class="red-icon">
                <i class="fa fa-download" aria-hidden="true"></i>
              </div>
              <div class="caption">
                <h3>Export XLS</h3>
                <p>
                  <a href="#" class="btn btn-primary" role="button">Export XLS File</a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs"></div>
      </div>
    </div>
  </div>
</section>