<section class="container-fluid">
    <div class="ecom-product-item"> 
        <div class="row">

            <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="ecom-h2 login-title" >Login</div>
                <div class="panel-body login-div">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-lg-12 alert alert-danger" ng-if="error">
                            {{msg}}
                        </div>
                    </div>
                    <form data-ng-submit="submitloginform()" onsubmit="return false;">
                        <label>Username</label>
                        <div class="form-group">
                            <input type="text" class="form-control" required ng-model="username">
                        </div>
                        <label>Password <span>*</span></label>
                        <div class="form-group">
                            <input type="password" class="form-control" required ng-model="password">
                        </div> 
                        <button type="submit" class="btn btn-danger delete"><span>Save</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>