<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 help-top-block" style="display: block;">
            <div class="header_menu" style="padding: 20px;">
                <div class="dash_content app_dash_content" style="border: 1px solid #cccccc;">
                    <div class="visible-con">
                        <h4 style="text-align: center;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> How To
                            Manage Ecommerce Orders
                            <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="!exhemp"
                                data-ng-click="exhemp = true">
                                <i class="fa fa-chevron-circle-down down" aria-hidden="true"></i>
                            </a>
                            <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="exhemp"
                                data-ng-click="exhemp = false">
                                <i class="fa fa-chevron-circle-up up" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div style="height: auto;" class="row" id="collapseExample" data-ng-show="exhemp">
                        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="margin: 0 auto;width: 650px; padding:10px;" class="text-center">
                                <div class="wistia_embed wistia_async_0kquxm8b6w" style="width:640px;height:360px;margin-bottom: 20px;">&nbsp;</div>
                                <a href="https://fast.wistia.net/embed/iframe/0kquxm8b6w?videoFoam=true" class="btn btn-danger" target="_blank">VIEW IN FULL SCREEN</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" tabindex="-1" role="dialog" id="orderModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="panel panel-default font-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}"
                                    ng-show="modalerror != null">
                                    {{modalmsg}}
                                </div>
                                <div class="panel-heading"><strong>Order Details #<span ng-bind-html="orderDetailsData.orderidentifier"></span></strong></div>
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <tbody>
                                            <tr>
                                                <th class="active" width="10px"></th>
                                                <th class="active">Product Image</th>
                                                <th class="active">Product Name </th>
                                                <th class="active">Qty</th>
                                                <th class="active">Price</th>
                                                <th class="active">Total</th>
                                            </tr>
                                            <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                                <td></td>
                                                <td>
                                                    <img width="70" height="70" data-ng-src="{{product.imagePath}}">
                                                </td>
                                                <td>
                                                    {{product.Productname}}
                                                    <br>
                                                    ({{product.sku}})
                                                    <br>
                                                    <div data-ng-if="product.hasOwnProperty('varients') && product.varients.length > 1">
                                                        <ul>
                                                            <li data-ng-repeat="varient in product.varients track by $index"
                                                                data-ng-init="varientquantity=((varient.quantity==0)?1:varient.quantity)">
                                                                <label><span data-ng-if="varientquantity > 0">{{varientquantity}}</span>
                                                                    {{varient.title}}</label>
                                                                <span> : {{addition(varient.price,product.baseprice)*
                                                                    varientquantity | currencyConvert :
                                                                    orderDetailsData.OrderCurrecnyCode }}</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                                <td>{{product.cartQuantity}} </td>
                                                <td>{{product.baseprice| currencyConvert : product.currency_code }}
                                                </td>
                                                <td>{{product.price| currencyConvert : product.currency_code}} </td>
                                            </tr><!-- end ngRepeat: prod in orderDet.productListArr -->
                                            <tr>
                                                <td colspan="6">
                                                    <table width="50%" class="table table-condensed offsetbottomnone"
                                                        style="margin-top:-6px !important;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="87%" align="right">Sub total</td>
                                                                <td width="" align="left"></td>
                                                                <td width="" align="right">{{orderDetailsData.ordersummary.priceInfo.subtotal|
                                                                    currencyConvert :
                                                                    orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Tax</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.Taxes|
                                                                    currencyConvert :
                                                                    orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr data-ng-if="orderDetailsData.ordersummary.priceInfo.coupon > 0">
                                                                <td align="right"> Coupon</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.coupon|
                                                                    currencyConvert :
                                                                    orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>

                                                            <tr>
                                                                <td align="right">Discount</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.Discounts|
                                                                    currencyConvert :
                                                                    orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right">Shipping</td>
                                                                <td align="left"></td>
                                                                <td align="right">{{orderDetailsData.ordersummary.priceInfo.shipping|
                                                                    currencyConvert :
                                                                    orderDetailsData.OrderCurrecnyCode}}</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="right" class="active"><strong>Grand Total</strong></td>
                                                                <td align="left" class="active"></td>
                                                                <td align="right" class="active"><strong>{{orderDetailsData.ordersummary.priceInfo.Gross|
                                                                        currencyConvert :
                                                                        orderDetailsData.OrderCurrecnyCode}}</strong></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Order Information</strong></div>
                                <div class="panel-body">
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12">
                                            <label><strong>Order Date</strong></label>: <span>{{orderDetailsData.datetime}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Order Status </strong> : <span>{{orderDetailsData.OrderStatus}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Payment Method </strong> : <span>{{orderDetailsData.PaymentTypeName}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Payment Status </strong> : <span>
                                                {{orderDetailsData.PaymentStatusName}}</span> </div>
                                    </div>
                                    <div class="row offsetbottom10" data-ng-if="orderDetailsData.TransactionID!=null">
                                        <div class="col-md-12"><strong>Transaction Id </strong> : <span>{{orderDetailsData.TransactionID}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Customer Information</strong></div>
                                <div class="panel-body">
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Customer Name </strong> : <span>{{orderDetailsData.CustomerFullName}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Email</strong> : <span>{{orderDetailsData.Email}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10">
                                        <div class="col-md-12"><strong>Phone No</strong> : <span>{{orderDetailsData.PhoneNumber}}</span>
                                        </div>
                                    </div>
                                    <div class="row offsetbottom10 ng-hide">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                    <div class="row offsetbottom10 ng-hide">
                                        <div class="col-md-12">&nbsp;</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Billing Address</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="offsetbottom10">{{orderDetailsData.Billingname}}</div>
                                            <div class="offsetbottom10">{{orderDetailsData.Billingaddress}}</div>
                                            <div class="offsetbottom10" ng-if="orderDetailsData.BillingLandmark != ''">
                                                {{orderDetailsData.BillingLandmark}}
                                            </div>
                                            <div class="offsetbottom10">
                                                {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                            </div>
                                            <div>Telephone : {{orderDetailsData.BillingPhone}}</div>
                                            <div ng-if="orderDetailsData.BillingAltrphone != ''">Alternate Telephone
                                                :{{orderDetailsData.BillingAltrphone}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Shipping Address</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-12">
                                                <div class="offsetbottom10">{{orderDetailsData.Shippingname}}</div>
                                                <div class="offsetbottom10">{{orderDetailsData.Shippingaddress}}</div>
                                                <div class="offsetbottom10" ng-if="orderDetailsData.ShippingLandmark != ''">
                                                    {{orderDetailsData.ShippingLandmark}}
                                                </div>
                                                <div class="offsetbottom10">
                                                    {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                                </div>
                                                <div>Telephone : {{orderDetailsData.ShippingPhone}}</div>
                                                <div ng-if="orderDetailsData.ShippingAltrphone != ''">Alternate
                                                    Telephone :{{orderDetailsData.ShippingAltrphone}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.trackingid != null && getGeneralSettings.Industryid==storeType.store">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Tracking Info</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <div ng-if="orderDetailsData.shipperaddress != ''">
                                                    Shippers Address : {{orderDetailsData.shipperaddress}}
                                                </div>
                                                <div ng-if="orderDetailsData.trackingid != null">
                                                    Tracking No : {{orderDetailsData.trackingid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.trackingid != null && getGeneralSettings.Industryid==storeType.resturent">
                            <div class="panel panel-default font-12 min-height-ecom">
                                <div class="panel-heading"><strong>Tracking Info</strong></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="">
                                                <div ng-if="orderDetailsData.shipperaddress != ''">
                                                    Time : {{orderDetailsData.shipperaddress}}
                                                </div>
                                                <div ng-if="orderDetailsData.trackingid != ''">
                                                    Text : {{orderDetailsData.trackingid}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-if="makeshipping && getGeneralSettings.Industryid==storeType.store">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="exampleInput">Shippers Address</label>
                            <input type="text" class="form-control" placeholder="Enter Shippers Address" data-ng-model="ShipmentForm.shipperAddress">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Tracking No</label>
                            <input type="text" class="form-control" placeholder="Enter Tracking No" data-ng-model="ShipmentForm.trackingNO">
                        </div>
                    </div>
                </div>
                <div class="row" data-ng-if="makeshipping && getGeneralSettings.Industryid==storeType.resturent">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="exampleInput">Time</label>
                            <input type="text" class="form-control" placeholder="Enter Shippers Address" data-ng-model="ShipmentForm.shipperAddress">
                        </div>
                        <div class="form-group">
                            <label for="exampleInput">Text</label>
                            <input type="text" class="form-control" placeholder="Enter Tracking No" data-ng-model="ShipmentForm.trackingNO">
                        </div>
                    </div>
                </div>
                <div class="ng-hide" id="printdiv">
                    <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                            <tr>
                                <td colspan="2" style="padding:5px;vertical-align:top;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td style="padding-bottom:10px;font-size:16px;line-height:45px;color:#333;">Invoice
                                                # <span ng-bind-html="orderDetailsData.orderidentifier"></span></td>
                                            <td style="text-align:right;padding-bottom:10px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"></td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                                DESCRIPTION</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"
                                                align="right"> Quantity</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"
                                                align="right"> Price</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"
                                                align="right"> Total</td>
                                        </tr>
                                        <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                            <td style="border-bottom:1px solid #eee; padding:5px;"> <img width="70"
                                                    height="70" data-ng-src="{{product.imagePath}}"> </td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;">
                                                {{product.Productname}}<br>
                                                ({{product.sku}})<br>
                                                <div data-ng-if="product.hasOwnProperty('varients') && product.varients.length > 1">
                                                    <ul>
                                                        <li data-ng-repeat="varient in product.varients track by $index"
                                                            data-ng-init="varientquantity=((varient.quantity==0)?1:varient.quantity)">
                                                            <label><span data-ng-if="varientquantity > 0">{{varientquantity}}</span>
                                                                {{varient.title}}</label>
                                                            <span> : {{addition(varient.price,product.baseprice)*
                                                                varientquantity | currencyConvert :
                                                                orderDetailsData.OrderCurrecnyCode }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">
                                                {{product.cartQuantity}}</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">
                                                {{product.baseprice| currencyConvert : product.currency_code }}</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">
                                                {{product.price| currencyConvert : product.currency_code}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Sub
                                                total</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.subtotal
                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Tax</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.Taxes
                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Coupon</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.coupon
                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Discount</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.Discounts
                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Shipping</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.shipping
                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Grand
                                                Total</td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.Gross
                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;">
                                    Order Information </td>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;">
                                    Customer Information </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 5px 10px;">
                                    <strong>Order Date</strong>: <span>{{orderDetailsData.datetime}}</span><br>
                                    <strong>Order Status </strong> : <span>{{orderDetailsData.OrderStatus}}</span><br>
                                    <strong>Payment Method </strong> : <span>{{orderDetailsData.PaymentTypeName}}</span><br>
                                    <strong>Payment Status </strong> : <span> {{orderDetailsData.PaymentStatusName}}</span><br>
                                    <span data-ng-if="orderDetailsData.TransactionID!=null">
                                        <strong>Transaction Id </strong> : <span>{{orderDetailsData.TransactionID}}</span>
                                    </span>
                                </td>
                                <td style="padding:5px 5px 10px;">
                                    <strong>Customer Name </strong> : <span>{{orderDetailsData.CustomerFullName}}</span><br>
                                    <strong>Email</strong> : <span>{{orderDetailsData.Email}}</span><br>
                                    <strong>Phone No</strong> : <span>{{orderDetailsData.PhoneNumber}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;">
                                    Billing Address </td>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;">
                                    Shipping Address </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 5px 10px;">
                                    {{orderDetailsData.Billingname}}<br>
                                    {{orderDetailsData.Billingaddress}}<br>
                                    <span ng-if="orderDetailsData.BillingLandmark != ''">
                                        {{orderDetailsData.BillingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                </td>
                                <td style="padding:5px 5px 10px;">
                                    {{orderDetailsData.Shippingname}}<br>
                                    {{orderDetailsData.Shippingaddress}}<br>
                                    <span ng-if="orderDetailsData.ShippingLandmark != ''">
                                        {{orderDetailsData.ShippingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px;">This
                                                is a computer generated document</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div data-ng-if="orderDetailsData.trackingid != ''" id="packingslip" class="ng-hide">
                    <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                            <tr>
                                <td colspan="2" style="padding:5px;vertical-align:top;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td style="padding-bottom:10px;font-size:16px;line-height:45px;color:#333;">Packing
                                                slip</td>
                                            <td style="text-align:right;padding-bottom:10px;"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding-bottom:20px;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td> <b>Shippers Address</b><br>
                                                {{orderDetailsData.shipperaddress}}
                                            <td style="text-align:right;"> Tracking
                                                Number-{{orderDetailsData.trackingid}}<br></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;">
                                    Billing Address </td>
                                <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;">
                                    Shipping Address </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 5px 10px;">
                                    {{orderDetailsData.Billingname}}<br>
                                    {{orderDetailsData.Billingaddress}}<br>
                                    <span ng-if="orderDetailsData.BillingLandmark != ''">
                                        {{orderDetailsData.BillingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                </td>
                                <td style="padding:5px 5px 10px;">
                                    {{orderDetailsData.Shippingname}}<br>
                                    {{orderDetailsData.Shippingaddress}}<br>
                                    <span ng-if="orderDetailsData.ShippingLandmark != ''">
                                        {{orderDetailsData.ShippingLandmark}}<br>
                                    </span>
                                    {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                </td>
                            </tr>
                            <tr>
                                <td style="font-weight:bold;padding:5px 5px 20px;;">Order ID <span ng-bind-html="orderDetailsData.orderidentifier"></span></td>
                                <td style="font-weight:bold;padding:5px 5px 20px;;text-align:right;"></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                                QTY</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                                DESCRIPTION</td>
                                        </tr>
                                        <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                            <td style="border-bottom:1px solid #eee; padding:5px;">
                                                {{product.cartQuantity}} </td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;"> <b>{{product.Productname}}</b></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px;">This
                                                is a computer generated document</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="ng-hide" id="kitchenPrintdiv">
                    <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                        <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                            <tr>
                                <td style="padding:10px 5px;font-weight:bold; font-size:16px; text-align: center">
                                    kitchen
                                    copy</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="padding:5px;vertical-align:top;">
                                    <table style="width: 100%;line-height: inherit;">
                                        <tr>
                                            <td style="padding-bottom:10px;font-size:16px;color:#333;">Order
                                                No # <span ng-bind-html="kitchenPrintInfo.orderidentifier"></span></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-bottom:10px;font-size:16px;color:#333;">Order
                                                Date # <span ng-bind-html="kitchenPrintInfo.FormatedDateTime"></span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                                Product Name</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;text-align:right">
                                                Sku</td>
                                            <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;text-align:right">
                                                Qty</td>
                                        </tr>
                                        <tr data-ng-repeat="cartitems in kitchenPrintInfo.ordersummary.cartitems track by $index">
                                            <td style="border-bottom:1px solid #eee; padding:5px;">
                                                {{cartitems.Productname}}</td>
                                            <td style="border-bottom:1px solid #eee;padding:10px;text-align:right">
                                                {{cartitems.sku}}<br></td>
                                            <td style="border-bottom:1px solid #eee;padding:5px;text-align:right">
                                                {{cartitems.cartQuantity}}</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- <tr>
                                    <td colspan="2">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px; text-align: center">This is a kitchen copy</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr> -->
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div data-ng-if="getGeneralSettings.Industryid==storeType.store">
                    <button type="button" class="btn btn-primary" data-ng-click="makeProcessing();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Process
                        Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="cancelOrder();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Cancel
                        Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="makeShipment();" data-ng-if="!makeshipping && orderDetailsData.OrderStatus=='Processing'">Ship
                        Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="processShipment();" data-ng-if="makeshipping && orderDetailsData.OrderStatus=='Processing'">Make
                        Shipment</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus=='Shipped'"
                        data-ng-click="printDiv('packingslip')">Print Shipping Label</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus!='Pending'"
                        data-ng-click="printDiv('printdiv')">Print Invoice</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
                <div data-ng-if="getGeneralSettings.Industryid==storeType.resturent">
                    <button type="button" class="btn btn-primary" data-ng-click="makeProcessing();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Process
                        Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="cancelOrder();" data-ng-if="orderDetailsData.OrderStatus=='Pending'">Cancel
                        Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="makeShipment();" data-ng-if="!makeshipping && orderDetailsData.OrderStatus=='Processing'">Deliver
                        Order</button>
                    <button type="button" class="btn btn-primary" data-ng-click="processShipment();" data-ng-if="makeshipping && orderDetailsData.OrderStatus=='Processing'">Make
                        Delivery</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus=='Shipped'"
                        data-ng-click="printDiv('packingslip')">Print Label</button>
                    <button type="button" class="btn btn-primary" data-ng-if="orderDetailsData.OrderStatus!='Pending'"
                        data-ng-click="printDiv('printdiv')">Print Invoice</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid" data-ng-init="getGeneralSettingsS()">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Manage Orders</span>
            </h3>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
        ng-show="error != null">
        {{msg}}
    </div>
    <div class="ecom-product-item">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" ng-class="{'active' : selectedTab == 'OrderDashboard'}"><a href="javascript:void(0);"
                            data-ng-click="selectTab('OrderDashboard', '');" aria-controls="home" role="tab"
                            data-toggle="tab">Order Dashboard</a></li>
                    <li data-ng-if="getGeneralSettingsN.deliveryEnable==1" role="presentation" ng-class="{'active' : selectedTab == 'Delivery'}"><a href="javascript:void(0);"
                            data-ng-click="selectTab('Delivery','delivery');" aria-controls="profile" role="tab"
                            data-toggle="tab">Delivery</a></li>
                    <li data-ng-if="getGeneralSettingsN.dineinEnable==1" role="presentation" ng-class="{'active' : selectedTab == 'DineIn'}"><a href="javascript:void(0);"
                            data-ng-click="selectTab('DineIn','dinein');" aria-controls="messages" role="tab"
                            data-toggle="tab">Dine In</a></li>
                    <li data-ng-if="getGeneralSettingsN.preorderEnable==1" role="presentation" ng-class="{'active' : selectedTab == 'PreOrder'}"><a href="javascript:void(0);"
                            data-ng-click="selectTab('PreOrder','preorder');" aria-controls="settings" role="tab"
                            data-toggle="tab">Pre Order</a></li>
                    <li data-ng-if="getGeneralSettingsN.pickupEnable==1" role="presentation" ng-class="{'active' : selectedTab == 'TakeAway'}"><a href="javascript:void(0);"
                            data-ng-click="selectTab('TakeAway', 'pickup');" aria-controls="settings" role="tab"
                            data-toggle="tab">Take Away</a></li>
                </ul>
                <div class="clearfix"></div>
                <!-- Tab panes -->
                <!--<div class="tab-content">                    
                    <div id="OrderDashboard" data-ng-show="selectedTab == 'OrderDashboard'">
                        <p>
                            Coming Soon OrderDashboard
                        </p>
                    </div>
                    <div id="Delivery" data-ng-show="selectedTab == 'Delivery'">
                        <p>
                            Coming Soon Delivery
                        </p>
                    </div>
                    <div id="Delivery" data-ng-show="selectedTab == 'DineIn'">
                        <p>
                            Coming Soon DineIn
                        </p>
                    </div>
                    <div id="Delivery" data-ng-show="selectedTab == 'PreOrder'">
                        <p>
                            Coming Soon PreOrder
                        </p>
                    </div>
                    <div id="Delivery" data-ng-show="selectedTab == 'TakeAway'">
                        <p>
                            Coming Soon TakeAway
                        </p>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>

<section class="intro-section" data-ng-show="selectedTab === 'OrderDashboard'">
    <div class="container-fluid" data-ng-init="GetNewOrderCount()">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4" data-ng-if="getGeneralSettingsN.deliveryEnable==1">
                <a class="ecom-icon-box" href="#" data-ng-click="selectTab('Delivery','delivery');">
                    <div class="ecom-icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                    <div class="ecom-category-name">Delivery</div>
                    <div class="ecom-category-name">{{GetNewOrderCount.delivery.T}} New Orders</div>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4" data-ng-if="getGeneralSettingsN.dineinEnable==1">
                <a class="ecom-icon-box" href="#" data-ng-click="selectTab('DineIn','dinein');">
                    <div class="ecom-icon"><i class="fa fa-cutlery " aria-hidden="true"></i></div>
                    <div class="ecom-category-name">Dine In</div>
                    <div class="ecom-category-name">{{GetNewOrderCount.dinein.T}} New Orders</div>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4" data-ng-if="getGeneralSettingsN.preorderEnable==1">
                <a class="ecom-icon-box" href="#" data-ng-click="selectTab('PreOrder','preorder');">
                    <div class="ecom-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                    <div class="ecom-category-name">Pre Order</div>
                    <div class="ecom-category-name">{{GetNewOrderCount.preorder.T}} New Orders</div>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4" data-ng-if="getGeneralSettingsN.pickupEnable==1">
                <a class="ecom-icon-box" href="#" data-ng-click="selectTab('TakeAway', 'pickup');">
                    <div class="ecom-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
                    <div class="ecom-category-name">Take Away</div>
                    <div class="ecom-category-name">{{GetNewOrderCount.pickup.T}} New Orders</div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid" data-ng-show="selectedTab !== 'OrderDashboard'">
    <div class="ecom-category-area">
        <div class="row">
            <!--<h3 class="pos-rel">
                <span>Manage Orders</span>
            </h3>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
                ng-show="error != null && msg!=''">
                {{msg}}
            </div>-->
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                <div class="cssload-whirlpool" style="margin-top: 50px;"></div>
            </div>
            <div data-ng-if="!ShowLoader">
                <!--<div class="col-lg-2 col-md-2 col-sm-3">
                    <label>Type</label>
                    <div data-ng-init="GetOrderTypeList()">
                        <select data-ng-model="searchData.deliveryType" class="btn btn-default dropdown-toggle">
                            <option value="">All</option>
                            <option data-ng-repeat="orderType in orderTypeData" value="{{orderType.typetag}}">{{orderType.name}}</option>
                        </select>
                    </div>
                </div>-->
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <form class="form-inline" data-ng-submit="search();">
                        <label>Search Order id</label>
                        <div class="input-group">
                            <input type="text" class="form-control" data-ng-model="searchData.id">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" data-ng-click="search()"><i class="fa fa-search"
                                        aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label>Start date</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" data-provide="datepicker" data-ng-model="searchData.startdate"
                            data-date-format="yyyy-mm-dd">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label>End date</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" data-provide="datepicker" data-ng-model="searchData.enddate"
                            data-date-format="yyyy-mm-dd">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-3">
                    <label>Change Status</label>
                    <div>
                        <button type="button" style="width:100%" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Select
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" data-ng-init="GetOrderStatusList()">
                            <li><a href="javascript:void(0)" data-ng-repeat="orderstatus in orderStatusData"
                                    data-ng-click="changeSearchStatus(orderstatus.id)">{{orderstatus.name}}</a></li>
                        </ul>
                    </div>
                </div>
                <!--<div class="clearfix"></div>-->
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="pull-right text-center" style="margin-top: 10px;">
                        <div>
                            <button type="button" class="btn btn-danger" data-ng-click="search()">Search</button>
                            <button type="button" class="btn btn-danger" data-ng-click="resetSearch()">Reset</button>
                            <button type="button" class="btn btn-danger ng-hide">Export (CSV)</button>
                            <button type="button" class="btn btn-danger ng-hide">Export (XLS)</button>
                            <button type="button" class="btn btn-danger ng-hide"><i class="fa fa-trash-o"></i> Delete</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="ecom-product-item" data-ng-if="!ShowLoader">
            <div class="col-md-12 col-sm-12 col-lg-12">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th><input class="checkall" type="checkbox" ng-model="selectAll" data-ng-click="selall();"></th>
                            <th>Order ID</th>
                            <th data-ng-if="deliveryType!=='preorder'">Purchased On</th>
                            <th data-ng-if="deliveryType==='preorder'">Reservation Date</th>
                            <th data-ng-if="deliveryType==='preorder'">Reservation Time</th>
                            <th data-ng-if="deliveryType==='delivery'">Bill to Name</th>
                            <th data-ng-if="deliveryType==='delivery'">Ship to Name</th>
                            <th>Phone</th>
                            <th data-ng-if="deliveryType==='dinein'">Table #</th>
                            <th data-ng-if="deliveryType==='pickup'">Pick Up Time</th>
                            <th data-ng-if="deliveryType==='pickup'">Outlet</th>
                            <th data-ng-if="deliveryType==='preorder'">Table #</th>
                            <th data-ng-if="deliveryType==='preorder'">Guest #</th>
                            <th>Grand Total</th>
                            <th>Transaction Id</th>
                            <th>Payment Status</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                        <!--





                        <tr data-ng-if="deliveryType===''">
                            <th><input class="checkall" type="checkbox" ng-model="selectAll" data-ng-click="selall();"></th>
                            <th>Order ID</th>
                            <th>Type</th>
                            <th>Purchased On</th>
                            <th>Grand Total</th>
                            <th>Transaction Id</th>
                            <th>Payment Status</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                        <tr data-ng-if="deliveryType==='delivery'">
                            <th><input class="checkall" type="checkbox" ng-model="selectAll" data-ng-click="selall();"></th>
                            <th>Order ID</th>
                            <th>Purchased On</th>
                            <th>Bill to Name</th>
                            <th>Ship to Name</th>
                            <th>Grand Total</th>
                            <th>Transaction Id</th>
                            <th>Payment Status</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                        <tr data-ng-if="deliveryType==='dinein'">
                            <th><input class="checkall" type="checkbox" ng-model="selectAll" data-ng-click="selall();"></th>
                            <th>Order ID</th>
                            <th>Reservation Date Time</th>
                            <th>Phone</th>
                            <th>Table #</th>
                            <th>Grand Total</th>
                            <th>Transaction Id</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>
                        <tr data-ng-if="deliveryType==='pickup'">
                            <th><input class="checkall" type="checkbox" ng-model="selectAll" data-ng-click="selall();"></th>
                            <th>Order ID</th>
                            <th>Pick Up Time</th>
                            <th>Outlet</th>
                            <th>Grand Total</th>
                            <th>Transaction Id</th>
                            <th>Payment Status</th>
                            <th>Payment Method</th>
                            <th>Order Status</th>
                            <th>Action</th>
                        </tr>-->
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="order in orderData track by $index">
                            <td><input class="checkall" type="checkbox" ng-model="selectedOrder[$index]" ng-true-value="{{order.id}}"
                                    ng-checked="selectAll"></td>
                            <td ng-bind-html="order.orderidentifier"></td>
                            <td data-ng-if="deliveryType!=='preorder'">{{order.FormatedDateTime}}</td>
                            <td data-ng-if="deliveryType==='preorder'">{{order.ordersummary.PREORDERDETAILS.PREORDERDATE}}</td>
                            <td data-ng-if="deliveryType==='preorder'">{{order.ordersummary.PREORDERDETAILS.PREORDERTIMEFROM}}</td>
                            <td data-ng-if="deliveryType==='delivery'">{{order.Billingname}}</td>
                            <td data-ng-if="deliveryType==='delivery'">{{order.Shippingname}}</td>
                            <td>{{order.PhoneNumber}}</td>
                            <td data-ng-if="deliveryType==='dinein'">{{order.ordersummary.tableNo}}</td>
                            <td data-ng-if="deliveryType==='pickup'">{{order.ordersummary.PICKUPTIME}}</td>
                            <td data-ng-if="deliveryType==='pickup'">{{order.ordersummary.PICKUPLOCATIONDETAILS.name}}</td>
                            <td data-ng-if="deliveryType==='preorder'">{{order.ordersummary.PREORDERDETAILS.PREORDERTABLENAME}}</td>
                            <td data-ng-if="deliveryType==='preorder'">{{order.ordersummary.PREORDERDETAILS.PREORDERTOTALGUEST}}</td>
                            <td>{{order.grandtotal | currencyConvert : order.OrderCurrecnyCode}}</td>
                            <td>{{order.TransactionID}}</td>
                            <td>{{order.PaymentStatusName}}</td>
                            <td>{{order.PaymentTypeName}}</td>
                            <td>{{order.OrderStatus}}</td>
                            <td>
                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/order-details/{{order.id}}"><i
                                        class="fa fa fa-eye"></i></a>
                                <a data-ng-if="getGeneralSettingsN.Industryid==storeType.resturent" href="javascript:void(0);" class="Print" title="Print" data-ng-click="kitchenPrint(order)"><i
                                        class="fa fa-cutlery"></i></a>
                                <a href="javascript:void(0);" class="delete ng-hide" title="Remove" data-ng-click="deleteOrder(order)"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr data-ng-if="orderData.length<=0">
                            <td colspan="11">No Records Found</td>
                        </tr>
                    </tbody>
                    <!--<tbody data-ng-if="deliveryType==='delivery'">
                        <tr data-ng-repeat="order in orderData track by $index">
                            <td><input class="checkall" type="checkbox" ng-model="selectedOrder[$index]" ng-true-value="{{order.id}}"
                                    ng-checked="selectAll"></td>
                            <td ng-bind-html="order.orderidentifier"></td>
                            <td>{{order.FormatedDateTime}}</td>
                            <td>{{order.Billingname}}</td>
                            <td>{{order.Shippingname}}</td>
                            <td>{{order.grandtotal | currencyConvert : order.OrderCurrecnyCode}}</td>
                            <td>{{order.TransactionID}}</td>
                            <td>{{order.PaymentStatusName}}</td>
                            <td>{{order.PaymentTypeName}}</td>
                            <td>{{order.OrderStatus}}</td>
                            <td>
                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/order-details/{{order.id}}"><i
                                        class="fa fa fa-eye"></i></a>
                                <a href="javascript:void(0);" class="Print" title="Print" data-ng-click="kitchenPrint(order)"><i
                                        class="fa fa-cutlery"></i></a>
                                <a href="javascript:void(0);" class="delete ng-hide" title="Remove" data-ng-click="deleteOrder(order)"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr data-ng-if="orderData.length<=0">
                            <td colspan="11">No Records Found</td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="deliveryType==='dinein'">
                        <tr data-ng-repeat="order in orderData track by $index">
                            <td><input class="checkall" type="checkbox" ng-model="selectedOrder[$index]" ng-true-value="{{order.id}}"
                                    ng-checked="selectAll"></td>
                            <td ng-bind-html="order.orderidentifier"></td>
                            <td>{{order.FormatedDateTime}}</td>
                            <td>{{order.PhoneNumber}}</td>
                            <td>{{order.ordersummary.tableNo}}</td>
                            <td>{{order.grandtotal | currencyConvert : order.OrderCurrecnyCode}}</td>
                            <td>{{order.TransactionID}}</td>
                            <td>{{order.PaymentTypeName}}</td>
                            <td>{{order.OrderStatus}}</td>
                            <td>
                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/order-details/{{order.id}}"><i
                                        class="fa fa fa-eye"></i></a>
                                <a href="javascript:void(0);" class="Print" title="Print" data-ng-click="kitchenPrint(order)"><i
                                        class="fa fa-cutlery"></i></a>
                                <a href="javascript:void(0);" class="delete ng-hide" title="Remove" data-ng-click="deleteOrder(order)"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr data-ng-if="orderData.length<=0">
                            <td colspan="11">No Records Found</td>
                        </tr>
                    </tbody>
                    <tbody data-ng-if="deliveryType==='pickup'">
                        <tr data-ng-repeat="order in orderData track by $index">
                            <td><input class="checkall" type="checkbox" ng-model="selectedOrder[$index]" ng-true-value="{{order.id}}"
                                    ng-checked="selectAll"></td>
                            <td ng-bind-html="order.orderidentifier"></td>
                            <td>{{order.pickupTime}}</td>
                            <td>{{order.pickupLocation}}</td>
                            <td>{{order.grandtotal | currencyConvert : order.OrderCurrecnyCode}}</td>
                            <td>{{order.TransactionID}}</td>
                            <td>{{order.PaymentStatusName}}</td>
                            <td>{{order.PaymentTypeName}}</td>
                            <td>{{order.OrderStatus}}</td>
                            <td>
                                <a href="javascript:void(0);" class="view" title="View" data-ng-href="/order-details/{{order.id}}"><i
                                        class="fa fa fa-eye"></i></a>
                                <a href="javascript:void(0);" class="Print" title="Print" data-ng-click="kitchenPrint(order)"><i
                                        class="fa fa-cutlery"></i></a>
                                <a href="javascript:void(0);" class="delete ng-hide" title="Remove" data-ng-click="deleteOrder(order)"><i
                                        class="fa fa-trash-o"></i></a>
                            </td>
                        </tr>
                        <tr data-ng-if="orderData.length<=0">
                            <td colspan="11">No Records Found</td>
                        </tr>
                    </tbody>-->
                </table>
                <paging class="small" page="currentPage" page-size="pageSize" total="total" paging-action="DoCtrlPagingAct('bar', page, pageSize, total)"
                    adjacent="{{adjacent}}" dots="{{dots}}" hide-if-empty="{{hideIfEmpty}}" show-prev-next="{{showPrevNext}}"
                    show-first-last="{{showFirstLast}}"></paging>
            </div>
        </div>
    </div>
</section>