<div ng-include="'modules/element/top_menu.html'"></div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to update the status?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected order(s)?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="customerModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manage Customer</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel font-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="panel panel-default font-12 min-height-ecom">
                                        <div class="panel-heading"><strong>{{frommode}} Customer</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}" ng-show="modalerror != null && modalmsg!=null">
                                                {{modalmsg}}
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>First Name <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control" data-ng-model="customerform.firstname">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Last Name <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="phoneno" class="form-control" data-ng-model="customerform.lastname">
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Email <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="pingcode" class="form-control" data-ng-model="customerform.email">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Phone no <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="nearByLocation" class="form-control" data-ng-model="customerform.phone">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Password <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="password" name="address" class="form-control" data-ng-model="customerform.password">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                    <label>Confirm Password <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="password" name="city" class="form-control" data-ng-model="customerform.confirm_password">
                                                    </div>
                                                </div>               
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <div class="form-group pull-right">
                                                        <button type="button" id="savecustomerbutton" class="btn btn-primary" data-ng-click="addCustomer()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid" data-ng-init="getCustomer();">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Manage Customers</span>
            </h3>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}" ng-show="error != null && msg!=null">
                {{msg}}
            </div>
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                    <div class="cssload-whirlpool"></div>
            </div>
            <div data-ng-show="!ShowLoader">
                <div class="col-lg-2 col-md-2 col-sm-2"><label style="line-height: 28px;">Total {{customerdata.Pagination.total}} Customer(s)</label></div>
                <div class="col-lg-4 col-md-4 col-sm-4">              
                    <div class="input-group">  
						<form class="form-inline" data-ng-submit="searchCustomer();">
							<input type="text" class="form-control" placeholder="Search..." ng-model="search">
						</form>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-ng-click="searchCustomer();"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" data-ng-href="/edit-customer" class="btn btn-danger" >Add</a>
                </div>
                <div class="pull-right">
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-danger ng-hide" data-ng-click="deleteCustomer(null)"><i class="fa fa-trash-o"></i> Delete</button>
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Status
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Active</a></li>
                                <li><a href="#">Inactive</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="ecom-product-item">
        <div class="col-md-12 col-sm-12 col-lg-12" data-ng-hide="ShowLoader">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th><input class="checkall" type="checkbox" ng-model="selectAll" ></th>
                        <th>Customer Name</th>
                        <th>Email ID</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="customer in customerdata.Customers track by $index">
                        <td><input class="checkall" type="checkbox" ng-checked="selectAll"></td>
                        <td>{{customer.FullName}}</td>
                        <td>{{customer.Email}}</td>
                        <td>{{customer.PhoneNumber}}</td>
                        <td>
                            <a href="javascript:void(0);" data-ng-href="/customer-details/{{customer.id}}" class="view" title="View"><i class="fa fa fa-eye"></i></a>
                            <a href="javascript:void(0);" data-ng-href="/edit-customer?id={{customer.id}}" class="view" title="Edit"><i class="fa fa fa-edit"></i></a>
                            <a href="javascript:void(0);" class="active ng-hide" title="active" data-ng-click="makeInactive(customer, 1);"> <i class="fa fa-check" aria-hidden="true"></i></a>
                            <!--<a href="javascript:void(0);" class="active ng-hide" title="active" data-ng-click="makeInactive(customer, 0);" data-ng-show="customer.is_disabled == 1"> <i class="fa fa-check" aria-hidden="true"></a>
                            <a href="javascript:void(0);" class="delete ng-hide" title="Remove" data-ng-click="deleteCustomer(customer)"><i class="fa fa-trash-o"></i></a>-->
                        </td>
                    </tr>
                    <tr data-ng-if="customerdata.Customers.length==0">
                        <td colspan="5">No customer found</td>
                    </tr>
                </tbody>
            </table>
            <paging class="small" page="currentPage" page-size="pageSize" total="total" pg-href="{{pgHref}}?page={page}" adjacent="{{adjacent}}" dots="{{dots}}" hide-if-empty="{{hideIfEmpty}}" show-prev-next="{{showPrevNext}}" show-first-last="{{showFirstLast}}"></paging>
        </div>
    </div>
</section>