<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid" data-ng-init="getEmailList();">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Email Template</span>
            </h3>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}" ng-show="modalerror != null && modalmsg!=null">
                {{modalmsg}}
            </div>           
        </div>
    </div>   
    <div class="panel panel-default">
        <div class="panel-heading">Edit Template</div>                         
        <div class="panel-body">
            <form name="productForm">
                <div class="form-group">
                    <label for="exampleInput">Subject</label>
                    <input type="text" class="form-control" placeholder="Enter Product name" data-ng-model="emailDetailsForm.emailsubject" required>
                </div>                
                <div class="form-group">
                    <label for="textarea">Description</label>
                    <!--<div simditor ng-model="emailDetailsForm.emailbody" placeholder="some placeholder"></div>-->
                    <div text-angular ng-model="emailDetailsForm.emailbody" placeholder="some placeholder"></div>
                    
                </div>
                <div>
                    <p>Keywords :</p>
                    <table style="font-size: 10px;">
                        <tr>
                            <td>##STORENAME##</td>
                            <td>: Store name</td>
                        </tr>
                        <tr>
                            <td>##STOREEMAIL##</td>
                            <td>: Store Email</td>
                        </tr>
                        <tr>
                            <td>##STOREPHONE##</td>
                            <td>: Store Phone no</td>
                        </tr>
                        <tr>
                            <td>##STOREADDRESS##</td>
                            <td>: Store Address</td>
                        </tr>
                        <tr>
                            <td>##LOGO##</td>
                            <td>: Store Logo</td>
                        </tr>

                        <tr>
                            <td>##ORDERIDENTIFIER##</td>
                            <td>: Order Number</td>
                        </tr>
                        <tr>
                            <td>##ORDERDATE##</td>
                            <td>: Order Date</td>
                        </tr>
                        <tr>
                            <td>##ORDERCURRENCY##</td>
                            <td>: Order Currency</td>
                        </tr>
                        <tr>
                            <td>##ORDERSTATUS##</td>
                            <td>: Order Status</td>
                        </tr>

                        <tr>
                            <td>##CUSTOMERNAME##</td>
                            <td>: Customer Name</td>
                        </tr>
                        <tr>
                            <td>##CUSTOMEREMAIL##</td>
                            <td>: Customer Email</td>
                        </tr>
                        <tr>
                            <td>##CUSTOMERPHONE##</td>
                            <td>: Customer Phone Number</td>
                        </tr>

                        <tr>
                            <td>##BILLIBGNAME##</td>
                            <td>: Customer Billing name</td>
                        </tr>
                        <tr>
                            <td>##BILLINGADDRESS##</td>
                            <td>: Customer Billing Address Line 1</td>
                        </tr>
                        <tr>
                            <td>##BILLINGADDRESS1##</td>
                            <td>: Customer Billing Address Line 2</td>
                        </tr>
                        <tr>
                            <td>##BILLINGDETAILS##, &lt;!--BILLINGDETAILS--&gt;</td>
                            <td>: Full Billing Address</td>
                        </tr>

                        <tr>
                            <td>##SHIPPINGNAME##</td>
                            <td>: Customer Shipping name</td>
                        </tr>
                        <tr>
                            <td>##SHIPPINGADDRESS##</td>
                            <td>: Customer Shipping Address Line 1</td>
                        </tr>
                        <tr>
                            <td>##SHIPPINGADDRESS1##</td>
                            <td>: Customer Shipping Address Line 1</td>
                        </tr>
                        <tr>
                            <td>##SHIPPINGDETAILS## , &lt;!--SHIPTO--&gt;</td>
                            <td>: Full Shipping Address</td>
                        </tr>

                        <tr>
                            <td>##PAYMENTMETHOD##</td>
                            <td>: Payment Method</td>
                        </tr>
                        <tr>
                            <td>##SHIPPIGMETHOD##</td>
                            <td>: Shipping Method</td>
                        </tr>
                        
                        <tr>
                            <td>&lt;!--ORDERDETAILS--&gt;</td>
                            <td>: Order Item Details</td>
                        </tr>
                        <tr>
                            <td>&lt;!--TABLENO--&gt;</td>
                            <td>: Table no for resturent</td>
                        </tr>                        
                        
                        <tr>
                            <td>##SUBTOTAL##</td>
                            <td>: Sub Total</td>
                        </tr>
                        <tr>
                            <td>##SHIPPINGCHARGE##</td>
                            <td>: Shipping Charge</td>
                        </tr>
                        <tr>
                            <td>##TAX##</td>
                            <td>: Tax amount</td>
                        </tr>
                        <tr>
                            <td>##DISCOUNT##</td>
                            <td>: Discount Amount</td>
                        </tr>
                        <tr>
                            <td>##TOTAL##</td>
                            <td>: Order Total Amount</td>
                        </tr>

                        <tr>
                            <td>##SHIPPEDBY##</td>
                            <td>: Shipper name and address</td>
                        </tr>
                        <tr>
                            <td>##TRACKINGID##</td>
                            <td>: Tracking number</td>
                        </tr>
                    </table>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-success" id="emailSaveButton" data-ng-click="saveEmail();" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save</button>
                </div>
            </form>    
        </div>
    </div>
</section>