<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Order Details</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="javascript:void(0);" onclick="window.history.back();">Back to orders</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}"
                ng-show="modalerror != null">
                {{modalmsg}}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Order Details</div>
        <div class="panel-body" data-ng-if="!EmptyOrder">
            <div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel panel-default font-12">
                            <div class="panel-heading">
                                <strong>Order ID #
                                    <span ng-bind-html="orderDetailsData.orderidentifier"></span>
                                    ({{orderDetailsData.deliveryType}})
                                </strong>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <tbody>
                                        <tr>
                                            <th class="active" width="10px"></th>
                                            <th class="active">Product Image</th>
                                            <th class="active">Product Name </th>
                                            <th class="active">Qty</th>
                                            <th class="active">Price</th>
                                            <th class="active text-right">Total</th>
                                        </tr>
                                        <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                            <td></td>
                                            <td>
                                                <img class="order-list-image" data-ng-src="{{product.imagePath}}">
                                            </td>
                                            <td>
                                                {{product.Productname}}
                                                <br> ({{product.sku}})
                                                <br>
                                                <div data-ng-if="product.hasOwnProperty('varients') && product.varients.length > 1">
                                                    <ul>
                                                        <li data-ng-repeat="varient in product.varients track by $index"
                                                            data-ng-init="varientquantity=((varient.quantity==0)?1:varient.quantity)">
                                                            <label>
                                                                <span data-ng-if="varientquantity > 0">{{varientquantity}}</span>
                                                                {{varient.title}}</label>
                                                            <span> : {{addition(varient.price,product.baseprice)*
                                                                varientquantity
                                                                | currencyConvert : orderDetailsData.OrderCurrecnyCode
                                                                }}</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>{{product.cartQuantity}} </td>
                                            <td>{{product.baseprice| currencyConvert : product.currency_code }} </td>
                                            <td class="text-right">{{product.price| currencyConvert :
                                                product.currency_code}} </td>
                                        </tr>
                                        <!-- end ngRepeat: prod in orderDet.productListArr -->
                                        <tr>
                                            <td colspan="6">
                                                <table width="50%" class="table table-condensed offsetbottomnone" style="margin-top:-6px !important;">
                                                    <tbody>
                                                        <tr>
                                                            <td width="87%" align="right">Sub total</td>
                                                            <td width="" align="left"></td>
                                                            <td width="" align="right">{{orderDetailsData.ordersummary.priceInfo.subtotal|
                                                                currencyConvert
                                                                : orderDetailsData.OrderCurrecnyCode}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">Tax</td>
                                                            <td align="left"></td>
                                                            <td align="right">{{orderDetailsData.ordersummary.priceInfo.Taxes|
                                                                currencyConvert
                                                                : orderDetailsData.OrderCurrecnyCode}}</td>
                                                        </tr>
                                                        <tr data-ng-if="orderDetailsData.ordersummary.priceInfo.coupon > 0">
                                                            <td align="right"> Coupon</td>
                                                            <td align="left"></td>
                                                            <td align="right">{{orderDetailsData.ordersummary.priceInfo.coupon|
                                                                currencyConvert
                                                                : orderDetailsData.OrderCurrecnyCode}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td align="right" data-ng-if="!orderDetailsData.ordersummary.hasOwnProperty('COUPONECODE')">Discount</td>
                                                            <td align="right" data-ng-if="orderDetailsData.ordersummary.hasOwnProperty('COUPONECODE') && orderDetailsData.ordersummary.COUPONECODE!=''">(Applyed
                                                                coupon
                                                                code:{{orderDetailsData.ordersummary.COUPONECODE}})
                                                                Discount</td>
                                                            <td align="left"></td>
                                                            <td align="right">{{orderDetailsData.ordersummary.priceInfo.Discounts|
                                                                currencyConvert
                                                                : orderDetailsData.OrderCurrecnyCode}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right">Shipping</td>
                                                            <td align="left"></td>
                                                            <td align="right">{{orderDetailsData.ordersummary.priceInfo.shipping|
                                                                currencyConvert
                                                                : orderDetailsData.OrderCurrecnyCode}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td align="right" class="active">
                                                                <strong>Grand Total</strong>
                                                            </td>
                                                            <td align="left" class="active"></td>
                                                            <td align="right" class="active">
                                                                <strong>{{orderDetailsData.ordersummary.priceInfo.Gross|
                                                                    currencyConvert
                                                                    : orderDetailsData.OrderCurrecnyCode}}</strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading">
                                <strong>Order Information</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <label>
                                            <strong>Order Date</strong>
                                        </label>:
                                        <span>{{orderDetailsData.datetime}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <strong>Order Status </strong> :
                                        <span>{{orderDetailsData.OrderStatus}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <strong>Payment Method </strong> :
                                        <span>{{orderDetailsData.PaymentTypeName}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <strong>Payment Status </strong> :
                                        <span> {{orderDetailsData.PaymentStatusName}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10" data-ng-if="orderDetailsData.TransactionID!=null">
                                    <div class="col-md-12">
                                        <strong>Transaction Id </strong> :
                                        <span>{{orderDetailsData.TransactionID}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10" data-ng-if="orderDetailsData.ordersummary.tableNo!=null">
                                    <div class="col-md-12">
                                        <strong>Table No </strong> :
                                        <span>{{orderDetailsData.ordersummary.tableNo}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10" data-ng-if="orderDetailsData.ordersummary.PICKUPTIME">
                                    <div class="col-md-12">
                                        <strong>Pickup Time </strong> :
                                        <span>{{orderDetailsData.ordersummary.PICKUPTIME}}</span>
                                    </div>
                                    <div class="col-md-12">
                                        <strong>Pickup Location </strong> :
                                        <span>{{orderDetailsData.ordersummary.PICKUPLOCATIONDETAILS.name}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10" data-ng-if="orderDetailsData.ordersummary.PREORDERDETAILS">
                                    <div class="col-md-12">
                                        <strong>Table Name </strong> :
                                        <span>{{orderDetailsData.ordersummary.PREORDERDETAILS.PREORDERTABLENAME}}</span>
                                    </div>
                                    <div class="col-md-12">
                                        <strong>Pre Order date </strong> :
                                        <span>{{orderDetailsData.ordersummary.PREORDERDETAILS.PREORDERDATE}}</span>
                                    </div>
                                    <div class="col-md-12">
                                        <strong>Pre Order Time </strong> :
                                        <span>{{orderDetailsData.ordersummary.PREORDERDETAILS.PREORDERTIMEFROM}}</span>
                                    </div>
                                    <div class="col-md-12">
                                        <strong>No Of Guest </strong> :
                                        <span>{{orderDetailsData.ordersummary.PREORDERDETAILS.PREORDERTOTALGUEST}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading">
                                <strong>Customer Information</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <strong>Customer Name </strong> :
                                        <span>{{orderDetailsData.CustomerFullName}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <strong>Email</strong> :
                                        <span>{{orderDetailsData.Email}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10">
                                    <div class="col-md-12">
                                        <strong>Phone No</strong> :
                                        <span>{{orderDetailsData.PhoneNumber}}</span>
                                    </div>
                                </div>
                                <div class="row offsetbottom10 ng-hide">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                                <div class="row offsetbottom10 ng-hide">
                                    <div class="col-md-12">&nbsp;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.Billingaddressid!==null">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading">
                                <strong>Billing Address</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="offsetbottom10">{{orderDetailsData.Billingname}}</div>
                                        <div class="offsetbottom10">{{orderDetailsData.Billingaddress}}</div>
                                        <div class="offsetbottom10" ng-if="orderDetailsData.BillingLandmark !==null">
                                            {{orderDetailsData.BillingLandmark}}
                                        </div>
                                        <div class="offsetbottom10">
                                            {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                                        </div>
                                        <div>Telephone : {{orderDetailsData.BillingPhone}}</div>
                                        <div ng-if="orderDetailsData.BillingAltrphone != ''">Alternate Telephone
                                            :{{orderDetailsData.BillingAltrphone}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.ShippingaddressID!==null && orderDetailsData.deliveryType!='dinein'">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading">
                                <strong>Shipping Address</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-12">
                                            <div class="offsetbottom10">{{orderDetailsData.Shippingname}}</div>
                                            <div class="offsetbottom10">{{orderDetailsData.Shippingaddress}}</div>
                                            <div class="offsetbottom10" ng-if="orderDetailsData.ShippingLandmark != ''">
                                                {{orderDetailsData.ShippingLandmark}}
                                            </div>
                                            <div class="offsetbottom10">
                                                {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                                            </div>
                                            <div>Telephone : {{orderDetailsData.ShippingPhone}}</div>
                                            <div ng-if="orderDetailsData.ShippingAltrphone != ''">Alternate Telephone
                                                :{{orderDetailsData.ShippingAltrphone}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.trackingid != null && getGeneralSettings.Industryid==storeType.store">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading">
                                <strong>Tracking Info</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <div ng-if="orderDetailsData.shipperaddress != ''">
                                                Shippers Address : {{orderDetailsData.shipperaddress}}
                                            </div>
                                            <div ng-if="orderDetailsData.trackingid != null">
                                                Tracking No : {{orderDetailsData.trackingid}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6" data-ng-if="orderDetailsData.trackingid != null && getGeneralSettings.Industryid==storeType.resturent">
                        <div class="panel panel-default font-12 min-height-ecom">
                            <div class="panel-heading">
                                <strong>Tracking Info</strong>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="">
                                            <div ng-if="orderDetailsData.shipperaddress != ''">
                                                Time : {{orderDetailsData.shipperaddress}}
                                            </div>
                                            <div ng-if="orderDetailsData.trackingid != ''">
                                                Text : {{orderDetailsData.trackingid}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="makeshipping && getGeneralSettings.Industryid==storeType.store">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="exampleInput">Shippers Address</label>
                        <input type="text" class="form-control" placeholder="Enter Shippers Address" data-ng-model="ShipmentForm.shipperAddress">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Tracking No</label>
                        <input type="text" class="form-control" placeholder="Enter Tracking No" data-ng-model="ShipmentForm.trackingNO">
                    </div>
                </div>
            </div>
            <div class="row" data-ng-if="makeshipping && getGeneralSettings.Industryid==storeType.resturent">
                <div class="col-md-12 col-sm-12">
                    <div class="form-group">
                        <label for="exampleInput">Time</label>
                        <input type="text" class="form-control" placeholder="Enter Time" data-ng-model="ShipmentForm.shipperAddress">
                    </div>
                    <div class="form-group">
                        <label for="exampleInput">Text</label>
                        <input type="text" class="form-control" placeholder="Enter Text" data-ng-model="ShipmentForm.trackingNO">
                    </div>
                </div>
            </div>
            <div class="ng-hide" id="printdiv">
                <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                    <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                        <tr>
                            <td colspan="2" style="padding:5px;vertical-align:top; text-align:center;">
                                <h3 style="margin: 0;">TAX INVOICE</h3>
                                <h4 style="margin: 0;">{{generalsettingsN.store_name}}</h4>
                                <p style="margin: 0;font-size: 12px;">{{generalsettingsN.address}}</p>
                                <p style="margin: 0;font-size: 12px;">Email - {{generalsettingsN.store_email}}, Phone -
                                    {{generalsettingsN.phoneNo}}</p>
                                <p style="margin: 0;font-size: 12px;" data-ng-if="generalsettingsN.isVatNoViewInInvoice==1">VAT
                                    # - {{generalsettingsN.vatNo}}</p>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding:5px;vertical-align:top;">
                                <table style="width: 100%;line-height: inherit;">
                                    <tr>
                                        <td style="padding-bottom:10px;font-size:16px;line-height:45px;color:#333;">Invoice
                                            #
                                            <span ng-bind-html="orderDetailsData.orderidentifier"></span>
                                        </td>
                                        <td style="text-align:right;padding-bottom:10px;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"></td>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                            DESCRIPTION</td>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"
                                            align="right"> Quantity</td>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"
                                            align="right"> Price</td>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;"
                                            align="right"> Total</td>
                                    </tr>
                                    <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                        <td style="border-bottom:1px solid #eee; padding:5px;">
                                            <img width="70" height="70" data-ng-src="{{product.imagePath}}"> </td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;"> {{product.Productname}}
                                            <br> ({{product.sku}})
                                            <br>
                                            <div data-ng-if="product.hasOwnProperty('varients') && product.varients.length > 1">
                                                <ul>
                                                    <li data-ng-repeat="varient in product.varients track by $index"
                                                        data-ng-init="varientquantity=((varient.quantity==0)?1:varient.quantity)">
                                                        <label>
                                                            <span data-ng-if="varientquantity > 0">{{varientquantity}}</span>
                                                            {{varient.title}}</label>
                                                        <span> : {{addition(varient.price,product.baseprice)*
                                                            varientquantity |
                                                            currencyConvert : orderDetailsData.OrderCurrecnyCode }}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">
                                            {{product.cartQuantity}}</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">
                                            {{product.baseprice| currencyConvert : product.currency_code }}</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">
                                            {{product.price| currencyConvert : product.currency_code}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Sub
                                            total</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.subtotal
                                            | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Tax</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.Taxes
                                            | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Coupon</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.coupon
                                            | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right"
                                            data-ng-if="!orderDetailsData.ordersummary.hasOwnProperty('COUPONECODE')">Discount</td>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right"
                                            data-ng-if="orderDetailsData.ordersummary.hasOwnProperty('COUPONECODE') && orderDetailsData.ordersummary.COUPONECODE!=''">(Applyed
                                            coupon code:{{orderDetailsData.ordersummary.COUPONECODE}}) Discount</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.Discounts
                                            | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Shipping</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.shipping
                                            | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="border-bottom:1px solid #eee;padding:5px;" align="right">Grand
                                            Total</td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;" align="right">{{orderDetailsData.ordersummary.priceInfo.Gross
                                            | currencyConvert : orderDetailsData.OrderCurrecnyCode}}</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;">
                                Order Information </td>
                            <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;">
                                Customer Information </td>
                        </tr>
                        <tr>
                            <td style="padding:5px 5px 10px;">
                                <strong>Order Date</strong>:
                                <span>{{orderDetailsData.datetime}}</span>
                                <br>
                                <strong>Order Status </strong> :
                                <span>{{orderDetailsData.OrderStatus}}</span>
                                <br>
                                <strong>Payment Method </strong> :
                                <span>{{orderDetailsData.PaymentTypeName}}</span>
                                <br>
                                <strong>Payment Status </strong> :
                                <span> {{orderDetailsData.PaymentStatusName}}</span>
                                <br>
                                <span data-ng-if="orderDetailsData.TransactionID!=null">
                                    <strong>Transaction Id </strong> :
                                    <span>{{orderDetailsData.TransactionID}}</span>
                                </span>
                                <span data-ng-if="orderDetailsData.ordersummary.tableNo!=null">
                                    <strong>Table No </strong> :
                                    <span>{{orderDetailsData.ordersummary.tableNo}}</span>
                                </span>
                            </td>
                            <td style="padding:5px 5px 10px;">
                                <strong>Customer Name </strong> :
                                <span>{{orderDetailsData.CustomerFullName}}</span>
                                <br>
                                <strong>Email</strong> :
                                <span>{{orderDetailsData.Email}}</span>
                                <br>
                                <strong>Phone No</strong> :
                                <span>{{orderDetailsData.PhoneNumber}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;"
                                data-ng-if="orderDetailsData.Billingaddressid!==null">
                                Billing Address </td>
                            <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;"
                                data-ng-if="orderDetailsData.ShippingaddressID!==null && orderDetailsData.deliveryType!='dinein'">
                                Shipping Address </td>
                        </tr>
                        <tr>
                            <td style="padding:5px 5px 10px;" data-ng-if="orderDetailsData.Billingaddressid!==null">
                                {{orderDetailsData.Billingname}}
                                <br> {{orderDetailsData.Billingaddress}}
                                <br>
                                <span ng-if="orderDetailsData.BillingLandmark != ''">
                                    {{orderDetailsData.BillingLandmark}}
                                    <br>
                                </span>
                                {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                            </td>
                            <td style="padding:5px 5px 10px;" data-ng-if="orderDetailsData.ShippingaddressID!==null && orderDetailsData.deliveryType!='dinein'">
                                {{orderDetailsData.Shippingname}}
                                <br> {{orderDetailsData.Shippingaddress}}
                                <br>
                                <span ng-if="orderDetailsData.ShippingLandmark != ''">
                                    {{orderDetailsData.ShippingLandmark}}
                                    <br>
                                </span>
                                {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px;">This
                                            is a computer generated document</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-ng-if="orderDetailsData.trackingid != ''" id="packingslip" class="ng-hide">
                <div style="max-width:800px;margin:auto;padding:30px;border:1px solid #eee; box-shadow:0 0 10px rgba(0, 0, 0, .15);font-size:16px;line-height:24px;font-family: Arial;color:#555;">
                    <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">
                        <tr>
                            <td colspan="2" style="padding:5px;vertical-align:top;">
                                <table style="width: 100%;line-height: inherit;">
                                    <tr>
                                        <td style="padding-bottom:10px;font-size:16px;line-height:45px;color:#333;">Packing
                                            slip</td>
                                        <td style="text-align:right;padding-bottom:10px;"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-bottom:20px;">
                                <table style="width: 100%;line-height: inherit;">
                                    <tr>
                                        <td>
                                            <b>Shippers Address</b>
                                            <br> {{orderDetailsData.shipperaddress}}
                                        <td style="text-align:right;"> Tracking Number-{{orderDetailsData.trackingid}}
                                            <br>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px; width:370px;"
                                data-ng-if="orderDetailsData.Billingaddressid!==null">
                                Billing Address </td>
                            <td style="background:#eee;border-bottom:1px solid #ddd;font-weight:bold;padding:5px;"
                                data-ng-if="orderDetailsData.ShippingaddressID!==null">
                                Shipping Address </td>
                        </tr>
                        <tr>
                            <td style="padding:5px 5px 10px;" data-ng-if="orderDetailsData.Billingaddressid!==null">
                                {{orderDetailsData.Billingname}}
                                <br> {{orderDetailsData.Billingaddress}}
                                <br>
                                <span ng-if="orderDetailsData.BillingLandmark != ''">
                                    {{orderDetailsData.BillingLandmark}}
                                    <br>
                                </span>
                                {{orderDetailsData.BillingCity}},{{orderDetailsData.BillingState}},{{orderDetailsData.BillingCountry}}-{{orderDetailsData.BillingPincode}}
                            </td>
                            <td style="padding:5px 5px 10px;" data-ng-if="orderDetailsData.ShippingaddressID!==null">
                                {{orderDetailsData.Shippingname}}
                                <br> {{orderDetailsData.Shippingaddress}}
                                <br>
                                <span ng-if="orderDetailsData.ShippingLandmark != ''">
                                    {{orderDetailsData.ShippingLandmark}}
                                    <br>
                                </span>
                                {{orderDetailsData.ShippingCity}},{{orderDetailsData.ShippingState}},{{orderDetailsData.ShippingCountry}}-{{orderDetailsData.ShippingPincode}}
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold;padding:5px 5px 20px;;">Order ID
                                <span ng-bind-html="orderDetailsData.orderidentifier"></span>
                            </td>
                            <td style="font-weight:bold;padding:5px 5px 20px;;text-align:right;"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                            QTY</td>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;font-weight:bold;padding:5px;">
                                            DESCRIPTION</td>
                                    </tr>
                                    <tr data-ng-repeat="product in orderDetailsData.ordersummary.cartitems track by $index">
                                        <td style="border-bottom:1px solid #eee; padding:5px;">
                                            {{product.cartQuantity}} </td>
                                        <td style="border-bottom:1px solid #eee;padding:5px;">
                                            <b>{{product.Productname}}</b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="border-bottom:2px solid #222;border-top:2px solid #222;padding:10px 5px;">This
                                            is a computer generated document</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3" data-ng-init="gePaymentStatusList();">
                    <label>Change Payment Status</label>
                    <div>
                        <button type="button" style="width:100%" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{orderDetailsData.PaymentStatusName}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" data-ng-repeat="paymentstatus in PaymentStatusList"
                                    data-ng-click="changePaymentStatus(paymentstatus.id)" class="ng-binding ng-scope"
                                    data-ng-if="paymentstatus.name!=orderDetailsData.PaymentStatusName">{{paymentstatus.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3" data-ng-init="GetOrderStatusList();">
                    <label>Change Order Status</label>
                    <div>
                        <button type="button" style="width:100%" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{orderDetailsData.OrderStatus}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" data-ng-repeat="orderstatus in orderStatusData"
                                    data-ng-click="changeSearchStatus(orderstatus.id)" data-ng-if="orderstatus.name!=orderDetailsData.OrderStatus">{{orderstatus.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 text-right">
                    <label>&nbsp;</label>
                    <div data-ng-if="getGeneralSettings.Industryid==storeType.store">
                        <button type="button" class="btn btn-primary" data-ng-click="makeProcessing('Processing');"
                            data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]=='Pending'">Process Order</button>
                        <button type="button" class="btn btn-primary" data-ng-click="cancelOrder('Cancelled');"
                            data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]=='Pending'">Cancel Order</button>
                        <button type="button" class="btn btn-primary" data-ng-click="makeShipment();" data-ng-if="!makeshipping && orderStatusHooksData[orderDetailsData.OrderStatus]=='Processing'">Ship
                            Order</button>
                        <button type="button" class="btn btn-primary" data-ng-click="processShipment('Shipped');"
                            data-ng-if="makeshipping && orderStatusHooksData[orderDetailsData.OrderStatus]=='Processing'">Make
                            Shipment</button>
                        <button type="button" class="btn btn-primary" data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]=='Shipped'"
                            data-ng-click="printDiv('packingslip')">Print Shipping Label</button>
                        <button type="button" class="btn btn-primary" data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]!='Pending'"
                            data-ng-click="printDiv('printdiv')">Print Invoice</button>
                        <a class="btn btn-danger" href="javascript:void(0);" onclick="window.history.back();">Cancel</a>
                    </div>
                    <div data-ng-if="getGeneralSettings.Industryid==storeType.resturent">
                        <button type="button" class="btn btn-primary" data-ng-click="makeProcessing('Processing');"
                            data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]=='Pending'">Process Order</button>
                        <button type="button" class="btn btn-primary" data-ng-click="cancelOrder('Cancelled');"
                            data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]=='Pending'">Cancel Order</button>
                        <button type="button" class="btn btn-primary" data-ng-click="makeShipment();" data-ng-if="!makeshipping && orderStatusHooksData[orderDetailsData.OrderStatus]=='Processing'">Deliver
                            Order</button>
                        <button type="button" class="btn btn-primary" data-ng-click="processShipment('Shipped');"
                            data-ng-if="makeshipping && orderStatusHooksData[orderDetailsData.OrderStatus]=='Processing'">Make
                            Delivery</button>
                        <button type="button" class="btn btn-primary" data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]=='Shipped'"
                            data-ng-click="printDiv('packingslip')">Print Label</button>
                        <button type="button" class="btn btn-primary" data-ng-if="orderStatusHooksData[orderDetailsData.OrderStatus]!='Pending'"
                            data-ng-click="printDiv('printdiv')">Print Invoice</button>
                        <a class="btn btn-danger" href="javascript:void(0);" onclick="window.history.back();">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body" data-ng-if="EmptyOrder">
            <p>You are not authorised to view it.</p>
        </div>
    </div>
</section>