<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="row">
        <div class="col-md-12 help-top-block" style="display: block;">
            <div class="header_menu" style="padding: 20px;">
                <div class="dash_content app_dash_content" style="border: 1px solid #cccccc;">
                    <div class="visible-con">
                        <h4 style="text-align: center;"><i class="fa fa-lightbulb-o" aria-hidden="true"></i> How To
                            Manage Ecommerce Products
                            <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="!exhemp"
                                data-ng-click="exhemp = true">
                                <i class="fa fa-chevron-circle-down down" aria-hidden="true"></i>
                            </a>
                            <a class="down-btn" role="button" data-toggle="collapse" href="#" data-ng-show="exhemp"
                                data-ng-click="exhemp = false">
                                <i class="fa fa-chevron-circle-up up" aria-hidden="true"></i>
                            </a>
                        </h4>
                    </div>
                    <div style="height: auto;" class="row" id="collapseExample" data-ng-show="exhemp">
                        <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div style="margin: 0 auto;width: 650px; padding:10px;" class="text-center">
                                <div class="wistia_embed wistia_async_l8dl09cpjz" style="width:640px;height:360px;margin-bottom: 20px;">&nbsp;</div>
                                <a href="https://fast.wistia.net/embed/iframe/l8dl09cpjz?videoFoam=true" class="btn btn-danger" target="_blank">VIEW IN FULL SCREEN</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade bs-example-modal-lg" id="qr" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-title ecom-h2" id="exampleModalLabel">View QR Code</div>
            </div>
            <div class="modal-body">
                <div class="cssload-container" data-ng-hide="qrpath!=''">
                        <div class="cssload-whirlpool"></div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}"
                    ng-show="modalerror != null">
                    {{modalmsg}}
                </div>
                <div class="row" data-ng-if="qrpath!=''">
                    <div class="col-lg-1 col-md-1 col-sm-1"  data-ng-click="selQR(0)"  style="text-align: center;">
                        <div class="cat-devition"  style="border: 1px solid #ff0000;" data-ng-if="selectedqrsize==0">
                            <img style="height:32px;width:32px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <div class="cat-devition"  data-ng-if="selectedqrsize!=0">
                                <img style="height:32px;width:32px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <span>32X32</span>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2" data-ng-click="selQR(1)"  style="text-align: center;">
                        <div class="cat-devition" style="border: 1px solid #ff0000;" data-ng-if="selectedqrsize==1">
                            <img style="height:64px;width:64px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <div class="cat-devition" data-ng-if="selectedqrsize!=1">
                            <img style="height:64px;width:64px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <span>64X64</span>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3" data-ng-click="selQR(2)"  style="text-align: center;">
                        <div class="cat-devition" style="border: 1px solid #ff0000;" data-ng-if="selectedqrsize==2">
                            <img style="height:128px;width:128px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <div class="cat-devition" data-ng-if="selectedqrsize!=2">
                            <img style="height:128px;width:128px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <span>128X128</span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4" data-ng-click="selQR(3)"  style="text-align: center;"> 
                        <div class="cat-devition" style="border: 1px solid #ff0000;" data-ng-if="selectedqrsize==3">
                            <img style="height:256px;width:256px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <div class="cat-devition" data-ng-if="selectedqrsize!=3">
                            <img style="height:256px;width:256px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <span>256X256</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12" data-ng-click="selQR(4)" style="text-align: center;">
                        <div class="cat-devition" style="border: 1px solid #ff0000;" data-ng-if="selectedqrsize==4">
                            <img style="height:512px;width:512px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <div class="cat-devition" data-ng-if="selectedqrsize!=4">
                            <img style="height:512px;width:512px;" src="http://api.qrserver.com/v1/create-qr-code/?data={{qrpath}}&size=512x512&qzone=6" />
                        </div>
                        <span>512X512</span>                        
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="submit" data-ng-if="qrpath!=''" data-ng-click="generatePDF()" class="btn btn-success" id="categorySaveButton" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Export</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<section class="container-fluid">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Product</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="category">Back to category</a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1" data-ng-if="productdata.length <= 0 && search != ''">
                    <div class="input-group">
                        <button type="button" data-ng-click="resetsearchProduct();" class="btn btn-danger">Reset</button>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="col-md-7">
                        <a href="#" data-ng-href="/product-details?catId={{category_id}}" class="btn btn-danger"> Add</a>
                    </div>
                    <button type="button" data-ng-href="/product-details?catId={{category_id}}" class="btn btn-danger ng-hide">Add</button>
                </div>
            </div>
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                <div class="cssload-whirlpool"></div>
            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="modal-title ecom-h2" data-ng-if="frommode == 'add'">Add Product</div>
                            <div class="modal-title ecom-h2" data-ng-if="frommode == 'edit'">Edit Product</div>
                        </div>
                        <form name="productForm" ng-submit="createProduct()">
                            <div class="modal-body">
                                <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}"
                                    ng-show="modalerror != null">
                                    {{modalmsg}}
                                </div>
                                <div class="form-group">
                                    <label for="exampleInput">Product Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Product name" data-ng-model="ProductForm.Name" required>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="exampleInput">SKU</label>
                                                <input type="text" class="form-control" placeholder="Enter Product SKU Number" data-ng-model="ProductForm.sku" required="">
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Price</label>
                                                <input class="form-control" placeholder="Enter Price i.e 20" required="" data-ng-model="ProductForm.Amount" min="0.00" type="number"
                                                    step="0.01">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6">
                                            <div class="form-group">
                                                <label for="exampleInput">Quantity</label>
                                                <input type="text" class="form-control" placeholder="Quantity" data-ng-model="ProductForm.stock" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInput">Unit *</label>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                                        <select class="form-control" required data-ng-model="ProductForm.PriceTypeID" ng-change="selectedItemChanged(ProductForm.PriceTypeID)">
                                                            <option data-ng-repeat="pricetype in productPriceType track by $index" value="{{pricetype.id}}" data-ng-selected="ProductForm.PriceTypeID==pricetype.id">{{pricetype.name}}</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6 col-sm-6 spacer-top">
                                                        <input type="text" class="form-control" placeholder="Unit" data-ng-model="ProductForm.unit">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textarea">Description</label>
                                    <textarea class="form-control" rows="3" data-ng-model="ProductForm.description"></textarea>
                                </div>
                                <div class="media">
                                    <a href="#">Media</a>
                                    <div>
                                        <div class="bs-callout bs-callout-warning" id="callout-btn-group-accessibility">
                                            <h4>Images</h4>
                                            <div class="ecom-thumbnail">
                                                <i class="fa fa-file-image-o" aria-hidden="true" data-ng-show="!productImage && (ProductForm.ProductImages == false || ProductForm.ProductImages == null)"></i>
                                                <img id="pImage" src="#" data-ng-show="productImage != false" style="max-width: 100%;max-height:100%;" />
                                                <img src="{{ProductForm.ProductImages[0].imagePath}}" data-ng-show="productImage == false && (ProductForm.ProductImages != false && ProductForm.ProductImages != null)"
                                                />
                                            </div>
                                            <div class="panel-body img-file-tab">
                                                <div class="text-center">
                                                    <span class="btn btn-default btn-file img-select-btn" style="overflow: hidden;position: relative;">
                                                        <span>Change</span>
                                                        <input type="file" onchange="setImage(this, 'pImage')" file-model="productImage" />
                                                    </span>
                                                    <span class="btn btn-default img-remove-btn" style="display: inline-block;" data-ng-click="remove_image();">Remove</span>
                                                </div>
                                            </div>
                                            <p>Note: For best results, image resolution should be 700x350</p>
                                        </div>
                                        <div class="bs-callout bs-callout-warning" id="callout-btn-group-accessibility">
                                            <h4>Video</h4>
                                            <div class="panel-body img-file-tab">
                                                <div>
                                                    <p>Only one video can be uploaded.</p>
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="basic-addon2">YouTube / Vimeo</span>
                                                        <input class="form-control" placeholder="Youtube / Vimeo Link" aria-describedby="basic-addon2" data-ng-model="ProductForm.videoUrl">
                                                    </div>
                                                    <!--<div class="text-center"><strong>or</strong></div>                       
                                                    <div class="input-group"> 
                                                        <span class="input-group-addon" id="basic-addon2">Upload Video</span> 
                                                        <input class="form-control" placeholder="Upload Video" aria-describedby="basic-addon2" data-ng-model="uploadvideo" type="file">
                                                    </div>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label class="col-sm-2 control-label">Product Option</label>
                                        <div class="pull-right col-sm-2 ">
                                            <button type="button" class="btn btn-info" data-ng-click="addOption()">Add Option</button>
                                        </div>
                                    </div>
                                    <div>
                                        <div>
                                            <div class="row">
                                                <div class="col-md-12" data-ng-repeat="varient in ProductForm.Varient track by $index" ng-init="varientIndex = $index">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <strong>Title (Color, Size etc.)
                                                                <span style="color:red;">*</span>
                                                            </strong>
                                                            <input type="text" class="form-control" data-ng-model="ProductForm.Varient[$index].name">
                                                            <div class="addMoreAlert">
                                                                <a class="f-right icon-cancel f-right" href=""></a>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <strong>Required</strong>
                                                            <select class="form-control" data-ng-model="ProductForm.Varient[$index].is_required">
                                                                <option value="1" data-ng-selected="ProductForm.Varient[$index].is_required == true">Yes</option>
                                                                <option value="0" data-ng-selected="ProductForm.Varient[$index].is_required == false">No</option>
                                                            </select>
                                                            <div class="addMoreAlert">
                                                                <a class="f-right icon-cancel f-right" href=""></a>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <strong>Multiple</strong>

                                                            <input type="checkbox" class="form-control" data-ng-model="ProductForm.Varient[$index].is_multiple" value="1" data-ng-checked="(ProductForm.Varient[$index].is_multiple)">
                                                            <div class="addMoreAlert">
                                                                <a class="f-right icon-cancel f-right" href=""></a>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2">
                                                            <strong>Sort Order</strong>
                                                            <input type="text" class="form-control" data-ng-model="ProductForm.Varient[$index].sort_order">
                                                            <div class="addMoreAlert">
                                                                <a class="" href=""></a>
                                                                <span></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-1">
                                                            <br>
                                                            <a href="javascript:void(0)" class="btn pull-right btn-danger" ng-click="removeOption($index)">
                                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="table-responsive">
                                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table  table-bordered offsetbottomnone" style="min-width:650px">
                                                            <tbody>
                                                                <tr>
                                                                    <th width="30%" class="info grayBg">
                                                                        Title Value
                                                                        <span style="color:red;">*</span>
                                                                    </th>
                                                                    <th width="20%" class="info grayBg">Price
                                                                        <span style="color:red;">*</span>
                                                                    </th>
                                                                    <th width="20%" class="info grayBg">Price Type</th>
                                                                    <th width="25%" class="info grayBg">Sort Order</th>
                                                                    <th width="5%" class="info grayBg">&nbsp;</th>
                                                                </tr>
                                                                <tr data-ng-repeat="options in varient.options track by $index">
                                                                    <td>
                                                                        <input type="text" class="form-control" data-ng-model="ProductForm.Varient[varientIndex].options[$index].title">
                                                                    </td>
                                                                    <td class="alertRelative">
                                                                        <input required type="number" min="0" step="0.01" class="form-control" data-ng-model="ProductForm.Varient[varientIndex].options[$index].price">
                                                                    </td>
                                                                    <td class="alertRelative">
                                                                        <select class="form-control" required data-ng-model="ProductForm.Varient[varientIndex].options[$index].pricetype">
                                                                            <option value="">Select</option>
                                                                            <option value="+">+</option>
                                                                            <option value="-">-</option>
                                                                        </select>
                                                                    </td>
                                                                    <td class="alertRelative">
                                                                        <input type="text" class="form-control" data-ng-model="ProductForm.Varient[varientIndex].options[$index].sort_order">
                                                                    </td>
                                                                    <td class="alertRelative">
                                                                        <a href="javascript:void(0)" class="btn pull-right btn-danger" data-ng-if="$index != 0" ng-click="removeRow(varientIndex, $index)">
                                                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td colspan="5" align="right">
                                                                        <a href="javascript:void(0)" class="btn btn-danger" data-ng-click="addOptionRow(varientIndex)">
                                                                            Add Row
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-success" id="productSaveButton" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
        ng-show="error != null">
        {{msg}}
    </div>
    <div data-ng-init="getProduct();" data-ng-show="!ShowLoader">
        <div class="ecom-product-item alert alert-info" data-ng-show="productdata.length <= 0">
            <label>No Records Found</label>
        </div>
        <div data-ng-show="productdata.length > 0">
            <div class="ecom-search-area">

                <div class="row">
                    <!--<div class="col-lg-2 col-md-2 col-sm-2">
                            <div class="form-group">
                                    <select class="form-control">
                                            <option>All</option>
                                    </select>
                            </div>
                    </div>-->
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <form class="form-inline" data-ng-submit="searchProduct();">
                            <div class="input-group">
                                <input type="text" class="form-control" aria-describedby="inputGroupSuccess2Status" data-ng-model="search" placeholder="Search Products">
                                <span class="input-group-addon" data-ng-click="searchProduct();">
                                    <a href="javascript:void(0);">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </a>
                                </span>
                                <span class="input-group-addon" data-ng-click="resetsearchProduct();">
                                    <a href="javascript:void(0);">Reset</a>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-4 col-lg-offset-4 col-md-offset-4 col-sm-offset-3 spacer-top text-right">
                        <button type="submit" class="btn btn-primary" data-ng-click="selall();" data-ng-if="!selectall">Select All</button>
                        <button type="submit" class="btn btn-primary" data-ng-click="selnone();" data-ng-if="selectall">De-select All</button>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 spacer-top">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Change Status
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="makeallactive();">Active</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="makeallinactive();">Inactive</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="makeallfeatured();">Featured</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" data-ng-click="makenonefeatured();">Remove Featured</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div class="ecom-product-item">
                <div class="dirCateItems" data-ng-repeat="product in productdata track by $index">
                    <div class="dir_bx narrowed biggerstackorder">
                        <span class="bigcheck">
                            <label class="bigcheck">
                                <input type="checkbox" class="bigcheck" name="cheese" data-ng-model="productcheck[$index]" ng-true-value="{{product.id}}"
                                    ng-checked="selectall" />
                                <span class="bigcheck-target"></span>
                            </label>
                        </span>
                        <div class="ecom-product" data-ng-if="!product.imagePath" style="background-image: url('img/no_preview.png')"> </div>
                        <div class="ecom-product" data-ng-if="product.imagePath" style="background-image:url({{product.imagePath}})"> </div>
                        <a href="#" class="ecom-catnumber">{{product.Productname| cut:false:18:'...'}}</a>
                        <div class="ecom-product-name">{{product.description| htmlToPlaintext | cut:false:22:'...'}}</div>
                        <div class="ecom-action">
                            <a href="#" class="action-setting" data-ng-click="showoverlay = true">
                                <i class="fa fa-cogs" aria-hidden="true"></i>
                            </a>
                            <div class="marg-nil">
                                <span class="label label-success" data-ng-if="product.Stock > 0">In Stock</span>
                                <span class="label label-danger" data-ng-if="product.Stock <= 0">Out of Stock</span>
                            </div>
                        </div>
                        <div class="dirCateItemsOverlay" data-ng-show="showoverlay">
                            <div class="row">
                                <div class="col-md-7">
                                    <a href="#" data-ng-href="/product-details?id={{product.id}}" class="btn btn-danger"> Edit</a>
                                </div>
                                <div class="col-md-5">
                                    <a href="#" data-ng-click="deleteProduct(product);showoverlay = false;" class="btn btn-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                            <a href="#" class="btn btn-danger" data-ng-click="makeInactive(product, 1);showoverlay = false" data-ng-show="product.is_disabled == 0">
                                Inactive</a>
                            <a href="#" class="btn btn-danger" data-ng-click="makeInactive(product, 0);showoverlay = false" data-ng-show="product.is_disabled == 1">
                                Active</a>
                            <a href="#" class="btn btn-danger" data-ng-click="makeFeatured(product, 1);showoverlay = false" data-ng-show="product.is_featured == 0">
                                Add Featured Product</a>
                            <a href="#" class="btn btn-danger" data-ng-click="makeFeatured(product, 0);showoverlay = false" data-ng-show="product.is_featured == 1">
                                Remove from Featured</a>
                            <a href="#" class="btn btn-danger" data-ng-href="/product-testimonials/{{product.id}}"> Testimonials</a>
                            <a href="javascript:void(0)" class="btn btn-danger" data-ng-click="viewQRCode(product);">View QR Code</a>
                            <!--<a href="#" class="btn btn-danger"> Media</a>-->
                            <a href="#" class="hideOverlay" data-ng-click="showoverlay = false"> Close</a>
                        </div>
                    </div>
                </div>
            </div>
            <paging class="small" page="currentPage" page-size="pageSize" total="total" pg-href="{{pgHref}}?page={page}" adjacent="{{adjacent}}"
                dots="{{dots}}" hide-if-empty="{{hideIfEmpty}}" show-prev-next="{{showPrevNext}}" show-first-last="{{showFirstLast}}"></paging>
        </div>
    </div>
</section>