<div ng-include="'modules/element/top_menu.html'"></div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure, you want to update the status?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal1" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Confirm</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete selected order(s)?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="customerModal" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Manage Testimonial</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="panel font-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="panel panel-default font-12 min-height-ecom">
                                        <div class="panel-heading"><strong>{{frommode}} Testimonial</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}" ng-show="modalerror != null && modalmsg!=null">
                                                {{modalmsg}}
                                            </div>
                                            <div class="row">                                                
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <label>Testimonial<span>*</span></label>
                                                    <div class="form-group">
                                                        <textarea rows="4" cols="50" name="phoneno" class="form-control"  data-ng-model="customerform.testimonial"></textarea>
                                                        <!--<input type="text" name="phoneno" class="form-control" data-ng-model="customerform.testimonial">-->
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <label>Customer Name <span>*</span></label>
                                                    <div class="form-group">
                                                        <input type="text" name="name" class="form-control" data-ng-model="customerform.name">
                                                    </div>
                                                </div>                                                
                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                    <div class="form-group pull-right">
                                                        <button type="button" id="savecustomerbutton" class="btn btn-primary" data-ng-click="addCustomer()" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save</button>
                                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid" data-ng-init="getCustomer();">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Manage Testimonials</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="javascript:void(0);" onclick="window.history.back();">Back to Products</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}" ng-show="error != null && msg!=null">
                {{msg}}
            </div>
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                    <div class="cssload-whirlpool"></div>
            </div>
            <div data-ng-show="!ShowLoader">
                <div class="col-lg-2 col-md-2 col-sm-2"><label style="line-height: 28px;">Total {{customerdata.Pagination.total}} Testimonial(s)</label></div>
                <div class="col-lg-4 col-md-4 col-sm-4">              
                    <div class="input-group">  
						<form class="form-inline" data-ng-submit="searchCustomer();">
							<input type="text" class="form-control" placeholder="Search..." ng-model="search">
						</form>
							<span class="input-group-btn">
								<button class="btn btn-default" type="button" data-ng-click="searchCustomer();"><i class="fa fa-search" aria-hidden="true"></i></button>
							</span>
                    </div>
                </div>
                <div class="pull-right">
                    <a href="javascript:void(0);" data-ng-click="AddNewCustomerModal();" class="btn btn-danger" >Add</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="ecom-product-item">
        <div class="col-md-12 col-sm-12 col-lg-12" data-ng-hide="ShowLoader">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Testimonial</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="customer in customerdata.Testimonials track by $index">
                        <td>{{customer.testimonial_by}}</td>
                        <td>{{customer.testimonial}}</td>
                        <td><a href="javascript:void(0)" data-ng-click="deleteTestimonial(customer)"><i class="fa fa fa-trash"></i></a></td>
                    </tr>
                    <tr data-ng-if="customerdata.Testimonials.length==0">
                        <td colspan="5">No Testimonials found</td>
                    </tr>
                </tbody>
            </table>
            <paging class="small" page="currentPage" page-size="pageSize" total="total" pg-href="{{pgHref}}?page={page}" adjacent="{{adjacent}}" dots="{{dots}}" hide-if-empty="{{hideIfEmpty}}" show-prev-next="{{showPrevNext}}" show-first-last="{{showFirstLast}}"></paging>
        </div>
    </div>
</section>