<style>
    .panel-default{padding: 20px;}
    .prod-image-block-wrapper{
        position: relative;
    }
    .prod-image-top-btns{
        display: flex;
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        align-items: center;
        justify-content: space-between;
    }
    .prod-image-top-btns .prod-trash-btns{
        width: 36px;
        height: 36px;
        background: rgba(255,255,255,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 18px;
    }
    .prod-image-top-btns .label{
        margin-right: 8px;
    }
    .prod-btm-btns{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
    }
    .prod-btm-btns label{
        display: flex;
        align-items: center;
        max-width: 98px;
        font-size: 10px;
        font-weight: normal;
    }
    .prod-btm-btns label input{
        width: 45px;
        padding: 5px;
        margin-left: 5px;
    }
    .prod-btm-btns .btn{
        margin-bottom: 5px;
        max-width: 65px;
        height: auto;
        white-space: normal;
        font-size: 10px;
    }
</style>
<style>
    .row-outer-wrapper{
        padding-bottom: 2px;
    }
    .row-outer-wrapper .row-outer-wrapper{
        padding-bottom: 10px;
        margin-bottom: 0;
        border-bottom: none;
        margin-left: 50px;
    }
    .row-outer-wrapper .well{
        background-color: #fbfbfb;
    }    
    .row-outer-wrapper .well{
        margin-bottom: 0;
        margin-top: 15px;
    }
    .row-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }
    .row-wrapper .left-part{
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .ecom-product-image {
        margin-right: 20px;
        padding: 0 10px;
        background-position: left;
        background-repeat: no-repeat;
        background-size: contain;
        /* min-height: 70px;
        min-width: 100px; */
        height:50px; 
        width:50px;
        overflow: hidden;
        flex-shrink: 0;
    }
    .accord-arrow{
        margin-right: 10px;
    }
    .product-content{
        display: flex;
        flex-wrap: wrap;
        align-items:flex-start;
        flex-direction: column;
    }
    .active_productcontent{
        display:flex;
        width:100%;
    }
    .product-content h3,
    .product-content h5{
        margin-top: 0;
        margin-bottom: 0;
    }
    .product-content span.label{
        margin-right: 20px;
    }
    .product-content h3{
        font-size: 14px;
        line-height: 20px;
        margin-right: 5px;
    }
    .product-content h5{
        color: #7b7b7b;
        margin-right: 15px;
    }
    .accord-arrow a[aria-expanded="true"] i:before{
        content: '\f078';
    }
    .accord-arrow .btn{
        background: #D63135;
        border-color: #D63135;
        width: 23px;
    }
    .right-drop-part{
        position: relative;
    }
    .right-drop-part a{
        color: #D63135;
        display: flex;
    }
    .right-drop-part i{
        margin-right: 5px;
    }
    .right-drop-part .dropdown-menu{
        right: 0 !important;
        left: auto !important;
        padding:10px 10px 5px;
        display: block;
    }
    .right-drop-part .dropdown-menu li .btn{
        margin-bottom: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .right-drop-part .dropdown-menu li .btn:hover{
        background: #D63135;
        border-color: #D63135;
        color: #fff;
    }
    .mt-10{
        margin-top: 10px;
    }
    .angular-ui-tree-node .row-outer-wrapper:first-child{background:#f1f1f1;}
    .angular-ui-tree-node .row-outer-wrapper li{border-bottom:1px solid #ddd; }
    .angular-ui-tree-node .row-outer-wrapper li li:last-child{border-bottom:0; }
    .angular-ui-tree-node .row-outer-wrapper .row-outer-wrapper{background: none;}
</style>
<script type="text/ng-template" id="nodes_renderer.html">
    <div class="row-outer-wrapper">
        <div ui-tree-handle class="tree-node tree-node-content row-wrapper">
            <div class="left-part">
                <div class="accord-arrow">
                    <a class="btn btn-danger btn-xs" ng-if="node.chieldren && node.chieldren.length > 0" data-nodrag ng-click="toggle(this)">
                        <i
                        class="fa"
                        ng-class="{
                    'fa-chevron-right': collapsed,
                    'fa-chevron-down': !collapsed
                    }"></i></a>
                </div>
                <div class="product-content">
                    <h3>{{node.name}}</h3>
                    <div>
                        <input type="checkbox" value="node.id" ng-model="ProductForm.CATEGORIES[node.id].status" ng-click="enablecat(node)" name="cbk{{node.id}}">
                        <input type="text" style="border-radius: 5px;width: 35px;border: 1px solid #ccc;padding: 0px 5px;" data-ng-model="ProductForm.CATEGORIES[node.id].productorder">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row-outer-wrapper">
        <ol ui-tree-nodes="" ng-model="node.chieldren" ng-class="{hidden: collapsed}">        
            <li ng-repeat="node in node.chieldren" ui-tree-node ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </div>
</script>
<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid" id="pdetails">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Product</span>
            </h3>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <a href="javascript:void(0);" onclick="window.history.back();">Back to category</a>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(modalerror == true),'alert-success':(modalerror == false)}"
                ng-show="modalerror != null">
                {{modalmsg}}
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" data-ng-if="frommode == 'add'">Add Product</div>
        <div class="panel-heading" data-ng-if="frommode == 'edit'">Edit Product</div>
        <div class="panel-body">
            <form name="productForm" >
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div>
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" ng-class="{'active' : selectedTab == 'General'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('General');" aria-controls="home" role="tab"
                                        data-toggle="tab">General</a></li>
                                <li role="presentation" ng-class="{'active' : selectedTab == 'Category'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('Category');" aria-controls="home" role="tab"
                                        data-toggle="tab">Category</a></li>
                                <li role="presentation" ng-class="{'active' : selectedTab == 'Images'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('Images');" aria-controls="profile" role="tab"
                                        data-toggle="tab">Images</a></li>
                                <li role="presentation" ng-class="{'active' : selectedTab == 'Video'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('Video');" aria-controls="messages" role="tab"
                                        data-toggle="tab">Video</a></li>
                                <li role="presentation" ng-class="{'active' : selectedTab == 'Documents'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('Documents');" aria-controls="settings" role="tab"
                                        data-toggle="tab">Documents</a></li>
                                <li role="presentation" ng-class="{'active' : selectedTab == 'Options'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('Options');" aria-controls="settings" role="tab"
                                        data-toggle="tab">Extra Options</a></li>
                                <li role="presentation" ng-class="{'active' : selectedTab == 'Others'}"><a href="javascript:void(0);"
                                        data-ng-click="selectTab('Others');" aria-controls="settings" role="tab"
                                        data-toggle="tab">Other Data</a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Configuration" data-ng-show="selectedTab == 'General'">
                                    <div class="panel panel-default">
                                        <div class="form-group">
                                            <label for="exampleInput">Product Name</label>
                                            <input type="text" class="form-control" placeholder="Enter Product name"
                                                data-ng-model="ProductForm.Name" required>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <label for="exampleInput">SKU</label>
                                                        <input type="text" class="form-control" placeholder="Enter Product SKU Number"
                                                            data-ng-model="ProductForm.sku" required="">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInput">Price</label>
                                                        <input class="form-control" placeholder="Enter Price i.e 20"
                                                            required="" data-ng-model="ProductForm.Amount" min="0.00"
                                                            type="number" step="0.01">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="form-group">
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <label for="exampleInput">Quantity</label>
                                                                <input type="text" class="form-control" placeholder="Quantity"
                                                                    data-ng-model="ProductForm.stock" required>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <label for="exampleInput">Is Digital</label>
                                                                <select class="form-control" required data-ng-model="ProductForm.is_virtual"
                                                                    ng-options="isVirtualOption.id as isVirtualOption.name for isVirtualOption in isVirtualOptionVal">
                                                                    <!--<option value="0" ng-selected="!ProductForm.is_virtual == 1">No</option>
                                                                            <option value="1" ng-selected="ProductForm.is_virtual == 1">Yes</option>-->
                                                                </select>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="form-group">
                                                        <label for="exampleInput">Unit *</label>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-sm-6">
                                                                <select class="form-control" required data-ng-model="ProductForm.PriceTypeID"
                                                                    ng-options="pricetype.id as pricetype.name for pricetype in productPriceType"
                                                                    ng-change="selectedItemChanged(ProductForm.PriceTypeID)">
                                                                    <!--<option data-ng-repeat="pricetype in productPriceType track by $index" value="{{pricetype.id}}">{{pricetype.name}}</option>-->
                                                                </select>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-sm-6 spacer-top">
                                                                <input type="text" class="form-control" placeholder="Unit"
                                                                    data-ng-model="ProductForm.unit">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textarea">Description</label>
                                            <!--<textarea class="form-control" rows="3" data-ng-model="ProductForm.description"></textarea>-->
                                            <div text-angular ng-model="ProductForm.description" placeholder="some placeholder"></div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="Category" data-ng-show="selectedTab == 'Category'">
                                    <div class="panel panel-default">
                                        <div>
                                            <div class="alert alert-info" data-ng-show="categorydata.length<=0">
                                                <label>No Records Found</label>
                                            </div>
                                            <div data-ng-if="categorydata.length>0">
                                                <div ui-tree="treeOptions" data-drag-enabled="false" id="tree-root"
                                                    class="angular-ui-tree" style="padding: 0 20px;">
                                                    <ol ui-tree-nodes="" ng-model="categorydata" id="tree-root" class="angular-ui-tree-nodes">
                                                        <li ng-repeat="node in categorydata" ui-tree-node ng-include="'nodes_renderer.html'"
                                                            class="angular-ui-tree-node" collapsed="false"
                                                            expand-on-hover="false"></li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="Images" data-ng-show="selectedTab == 'Images'">
                                    <div class="panel panel-default">
                                        <div class="" id="callout-btn-group-accessibility">
                                            <h4>Images</h4>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3" data-ng-repeat="image in ProductForm.ProductImages track by $index"
                                                    style="margin-bottom: 10px; padding: 20px; text-align: center;">
                                                    <div class="prod-image-block-wrapper">
                                                        <div style="background-image: url({{image.imagePath}});height: 250px; background-size: cover;"></div>
                                                        <div class="prod-image-top-btns">
                                                            <span class="label label-success" data-ng-if="image.default_image == 1">Default</span>
                                                            <span data-ng-if="image.default_image !== 1">&nbsp;</span>
                                                            <a href="javascript:void(0)" class="prod-trash-btns"
                                                                data-ng-click="removeImage($index, image)"><i class="fa fa-trash"
                                                                    aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="prod-btm-btns">
                                                            <a href="javascript:void(0)" class="btn btn-danger"
                                                                data-ng-if="image.default_image !== 1" data-ng-click="makeDefaultImg($index, image)">Make
                                                                Default</a>
                                                            <span data-ng-if="image.default_image === 1">&nbsp;</span>
                                                            <label>Slider Display Order <input type="text"
                                                                    data-ng-model="image.displayorder"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <!--<div class="ecom-thumbnail" data-ng-if="!productImage == false">
                                                        <i class="fa fa-file-image-o" aria-hidden="true" data-ng-show="!productImage && (ProductForm.ProductImages == false || ProductForm.ProductImages == null)"></i>
                                                        <img id="pImage" src="#" data-ng-show="productImage != false" style="max-width: 100%;max-height:100%;" />
                                                    </div>
                                                    <div data-ng-if="productImage == false && (ProductForm.ProductImages != false && ProductForm.ProductImages != null)">
                                                        <div data-ng-repeat="image in ProductForm.ProductImages">
                                                            <div class="ecom-thumbnail">
                                                                <img src="{{image.imagePath}}" />
                                                            </div>
                                                        </div>
                                                    </div>-->


                                            <div class="panel-body img-file-tab">
                                                <div class="text-center">
                                                    <span class="btn btn-default btn-file img-select-btn" style="overflow: hidden;position: relative;">
                                                        <span>Add Multiple Images</span>
                                                        <input type="file" file-model="productImage" multiple onchange="checkfiles(event)" />
                                                        <!--<input type="file" onchange="setImage(this, 'pImage')" file-model="productImage" multiple />-->
                                                    </span>
                                                    <!--<span class="btn btn-default img-remove-btn" style="display: inline-block;" data-ng-click="remove_image();">Remove</span>-->
                                                </div>
                                                <div class="row error" ng-if="productImage!=null">
                                                    <ul>
                                                        <li data-ng-repeat="pic in productImage track by $index">{{pic.name}}
                                                            <img src="{{pic.temp_name}}"> 
                                                            <p style="color: #e21d1d; font-weight: 600;" data-ng-if="imgErr($index)">This Image height is < 500px, Please remove it to continue
                                                                <a href="javascript:void(0)" class="prod-trash-btns" data-ng-click="removetempImage($index)">
                                                                    <i class="fa fa-times" aria-hidden="true"></i></a>
                                                            </p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <p>Note: Minimum height should be 500 PX</p>
                                            <!--<p>Note: For best results, image resolution should be 700x350</p>-->
                                        </div>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="Video" data-ng-show="selectedTab == 'Video'">
                                    <div class="panel panel-default">
                                        <div class="" id="callout-btn-group-accessibility">
                                            <h4>Video
                                                <div class="pull-right">
                                                    <button type="button" class="btn btn-info" data-ng-click="addVideo()">Add
                                                        Video</button>
                                                </div>
                                            </h4>
                                            <div class="panel-body img-file-tab">
                                                <div class="row" style="margin-bottom: 10px;" data-ng-repeat="video in ProductForm.VIDEOS track by $index">
                                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="basic-addon2">YouTube /
                                                                Vimeo / URL
                                                            </span>
                                                            <input class="form-control" placeholder="Youtube / Vimeo Link / URL "
                                                                aria-describedby="basic-addon2" data-ng-model="video.videoURL">
                                                        </div>
                                                    </div>
                                                    <!--<p>Only one video can be uploaded.</p>-->

                                                    <div class="pull-right col-sm-2 ">
                                                        <button type="button" class="btn btn-info" data-ng-click="removeVideo($index, video)">Remove
                                                            Video</button>
                                                    </div>
                                                    <!--<div class="text-center"><strong>or</strong></div>                       
                                                            <div class="input-group"> 
                                                                <span class="input-group-addon" id="basic-addon2">Upload Video</span> 
                                                                <input class="form-control" placeholder="Upload Video" aria-describedby="basic-addon2" data-ng-model="uploadvideo" type="file">
                                                            </div>-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="Documents" data-ng-show="selectedTab == 'Documents'">
                                    <div class="panel panel-default">
                                        <div class="" id="callout-btn-group-accessibility">
                                            <h4>Documents</h4>
                                            <div class="row">
                                                <div class="col-lg-3 col-md-3 col-sm-3" data-ng-repeat="doc in ProductForm.DOCUMENTS track by $index"
                                                    style="margin-bottom: 10px;text-align: center;">
                                                    <div class="ecom-thumbnail">
                                                        {{doc.name}}
                                                    </div>
                                                    <a href="javascript:void(0)" data-ng-click="removeDoc($index, doc)">Remove</a>
                                                </div>

                                            </div>


                                            <div class="panel-body img-file-tab">
                                                <div class="text-center">
                                                    <span class="btn btn-default btn-file img-select-btn" style="overflow: hidden;position: relative;">
                                                        <span>Add Documents</span>
                                                        <input type="file" file-model="productDocuments" multiple />
                                                    </span>
                                                    <!--<span class="btn btn-default img-remove-btn" style="display: inline-block;" data-ng-click="remove_image();">Remove</span>-->
                                                </div>
                                                <div class="row error" ng-if="productDocuments!=null">
                                                    <ul>
                                                        <li data-ng-repeat="pic in productDocuments">{{pic.name}}
                                                            <img src="{{pic.temp_name}}">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="Options" data-ng-show="selectedTab == 'Options'">
                                    <div class="panel panel-default">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-2 control-label">Product Option</label>
                                                <div class="pull-right col-sm-2 ">
                                                    <button type="button" class="btn btn-info" data-ng-click="addOption()">Add
                                                        Option</button>
                                                </div>
                                            </div>
                                            <div>
                                                <div>
                                                    <div class="row">
                                                        <div class="col-md-12" data-ng-repeat="varient in ProductForm.Varient track by $index"
                                                            ng-init="varientIndex = $index">
                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <strong>Title (Color, Size etc.)
                                                                        <span style="color:red;">*</span>
                                                                    </strong>
                                                                    <input type="text" class="form-control"
                                                                        data-ng-model="ProductForm.Varient[$index].name">
                                                                    <div class="addMoreAlert">
                                                                        <a class="f-right icon-cancel f-right" href=""></a>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <strong>Required</strong>
                                                                    <!--<select class="form-control" data-ng-model="ProductForm.Varient[$index].is_required">
                                                                                <option value="1" data-ng-selected="ProductForm.Varient[$index].is_required == true">Yes</option>
                                                                                <option value="0" data-ng-selected="ProductForm.Varient[$index].is_required == false">No</option>
                                                                            </select>-->
                                                                    <select class="form-control" required data-ng-model="varient.is_required"
                                                                        ng-options="isVirtualOption.id as isVirtualOption.name for isVirtualOption in isVirtualOptionVal">
                                                                        <!--<option value="0" ng-selected="!ProductForm.is_virtual == 1">No</option>
                                                                                    <option value="1" ng-selected="ProductForm.is_virtual == 1">Yes</option>-->
                                                                    </select>
                                                                    <div class="addMoreAlert">
                                                                        <a class="f-right icon-cancel f-right" href=""></a>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <strong>Multiple</strong>

                                                                    <input type="checkbox" class="form-control"
                                                                        data-ng-model="ProductForm.Varient[$index].is_multiple"
                                                                        value="1" data-ng-checked="(ProductForm.Varient[$index].is_multiple)">
                                                                    <div class="addMoreAlert">
                                                                        <a class="f-right icon-cancel f-right" href=""></a>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <strong>Sort Order</strong>
                                                                    <input type="text" class="form-control"
                                                                        data-ng-model="ProductForm.Varient[$index].sort_order">
                                                                    <div class="addMoreAlert">
                                                                        <a class="" href=""></a>
                                                                        <span></span>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-1">
                                                                    <br>
                                                                    <a href="javascript:void(0)" class="btn pull-right btn-danger"
                                                                        ng-click="removeOption($index)">
                                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <br>
                                                            <div class="table-responsive">
                                                                <table width="100%" border="0" cellspacing="0"
                                                                    cellpadding="0" class="table  table-bordered offsetbottomnone"
                                                                    style="min-width:650px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th width="30%" class="info grayBg">
                                                                                Title Value
                                                                                <span style="color:red;">*</span>
                                                                            </th>
                                                                            <th width="20%" class="info grayBg">Price
                                                                                <span style="color:red;">*</span>
                                                                            </th>
                                                                            <th width="20%" class="info grayBg">Price
                                                                                Type</th>
                                                                            <th width="25%" class="info grayBg">Sort
                                                                                Order</th>
                                                                            <th width="5%" class="info grayBg">&nbsp;</th>
                                                                        </tr>
                                                                        <tr data-ng-repeat="options in varient.options track by $index">
                                                                            <td>
                                                                                <input type="text" class="form-control"
                                                                                    data-ng-model="ProductForm.Varient[varientIndex].options[$index].title">
                                                                            </td>
                                                                            <td class="alertRelative">
                                                                                <input required type="number" min="0"
                                                                                    step="0.01" class="form-control"
                                                                                    data-ng-model="ProductForm.Varient[varientIndex].options[$index].price">
                                                                            </td>
                                                                            <td class="alertRelative">
                                                                                <select class="form-control" required
                                                                                    data-ng-model="ProductForm.Varient[varientIndex].options[$index].pricetype">
                                                                                    <option value="">Select</option>
                                                                                    <option value="+">+</option>
                                                                                    <option value="-">-</option>
                                                                                </select>
                                                                            </td>
                                                                            <td class="alertRelative">
                                                                                <input type="text" class="form-control"
                                                                                    data-ng-model="ProductForm.Varient[varientIndex].options[$index].sort_order">
                                                                            </td>
                                                                            <td class="alertRelative">
                                                                                <a href="javascript:void(0)" class="btn pull-right btn-danger"
                                                                                    data-ng-if="$index != 0" ng-click="removeRow(varientIndex, $index)">
                                                                                    <i class="fa fa-trash-o"
                                                                                        aria-hidden="true"></i>
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="5" align="right">
                                                                                <a href="javascript:void(0)" class="btn btn-danger"
                                                                                    data-ng-click="addOptionRow(varientIndex)">
                                                                                    Add Row
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane active" id="Others" data-ng-show="selectedTab == 'Others'">
                                    <div class="panel panel-default">
                                        <div class="form-group" data-ng-if="getGeneralSettings.ARLoginRequired==1">
                                            <label for="exampleInput">AR Tags</label>
                                            <select class="form-control" required data-ng-model="ProductForm.ARTAGS"
                                                ng-options="DefaultARTags.name as DefaultARTags.name for DefaultARTags in productDefaultARTags">
                                                <!--<option data-ng-repeat="pricetype in productPriceType track by $index" value="{{pricetype.id}}">{{pricetype.name}}</option>-->
                                            </select>
                                            <!--<input type="text" class="form-control" placeholder="Tags" data-ng-model="ProductForm.ARTAGS">-->
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="text-center">
                    <button type="submit" ng-click="createProductAN()" class="btn btn-info" id="productSaveButtonAN" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save and create another</button>
                    <button type="submit" ng-click="createProduct()" class="btn btn-success" id="productSaveButton" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing...">Save</button>
                    <a class="btn btn-danger" href="javascript:void(0);" onclick="window.history.back();">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</section>
<script>
    function checkfiles(e) {
        $('#pdetails').scope().imageupdateerror = false;
        $('#pdetails').scope().imageupdateerrororder = [];
        $('#pdetails').scope().$apply();
        var _URL = window.URL || window.webkitURL;
        var files = e.target.files;
        for (var i = 0; i < files.length; i++) {
            var img = new Image();
            img.onload = function () {
                if (this.height < 500) {
                    $('#pdetails').scope().imageupdateerror = true;
                    console.log($('#pdetails').scope().imageupdateerrororder);
                    $('#pdetails').scope().imageupdateerrororder.push(this.getAttribute('key'));
                    $('#pdetails').scope().$apply();
                }
            };
            img.src = _URL.createObjectURL(files[i]);
            img.setAttribute("key",i);
        }
    }
</script>