<div ng-include="'modules/element/top_menu.html'"></div>


<section class="container-fluid">
  <div class="ecom-category-area">
    <div class="row">
      <h3 class="pos-rel">
        <span>QR Scanner</span>
      </h3>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 alert" data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
    ng-show="error != null">
    {{msg}}
  </div>
  <div class="cssload-container" data-ng-hide="!ShowLoader">
    <div class="cssload-whirlpool"></div>
  </div>
  <div class="ecom-product-item"  data-ng-show="!ShowLoader">
    <div class="col-md-12 col-sm-12 col-lg-12">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs"></div>
        <div class="col-sm-8 col-md-8 col-lg-8 hidden-xs">
          <div class="col-sm-6 col-md-6 col-lg-6">
            <qr-scanner width="400" height="300" ng-success="onSuccess(data)" ng-error="onError(error)" />
          </div>
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs"></div>
      </div>
    </div>
  </div>
</section>