<div ng-include="'modules/element/top_menu.html'"></div>
<section class="container-fluid">
    <div class="ecom-category-area">
        <div class="row">
            <h3 class="pos-rel">
                <span>Sales Reports</span>
            </h3>
            <div class="col-lg-12 col-md-12 col-sm-12 alert"
                data-ng-class="{' alert-danger':(error == true),'alert-success':(error == false)}"
                ng-show="error != null && msg!=''">
                {{msg}}
            </div>
            <div class="cssload-container" data-ng-hide="!ShowLoader">
                <div class="cssload-whirlpool"></div>
            </div>
            <div data-ng-show="!ShowLoader">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label>Period</label>
                    <div>
                        <button type="button" style="width:100%" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{searchData.period}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0);" data-ng-click="changeperiod('Date Range');"
                                    data-ng-if="searchData.period!='Select'"> Date Range </a></li>
                            <li><a href="javascript:void(0);" data-ng-click="changeperiod('Current Month');"
                                    data-ng-if="searchData.period!='Month'"> Current Month </a></li>
                            <li><a href="javascript:void(0);" data-ng-click="changeperiod('Current Year');"
                                    data-ng-if="searchData.period!='Year'"> Current Year </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" data-ng-if="showdates">
                    <label>Start date</label>
                    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        <input type="text" class="form-control" data-ng-model="searchData.startdate">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3" data-ng-if="showdates">
                    <label>End date</label>
                    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd">
                        <input type="text" class="form-control" data-ng-model="searchData.enddate">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3">
                    <label>Status</label>
                    <div>
                        <button type="button" style="width:100%" class="btn btn-default dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{searchData.status}}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)" data-ng-repeat="orderstatus in orderStatusData"
                                    data-ng-click="changestatus(orderstatus.name, orderstatus.id)">{{orderstatus.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="pull-right text-center" style="margin-top: 10px;">
                        <div>
                            <button type="button" class="btn btn-danger" data-ng-click="search();">Filter</button>
                            <button type="button" class="btn btn-danger" data-ng-click="resetSearch();">Reset</button>
                            <button type="button" class="btn btn-danger ng-hide">Export (CSV)</button>
                            <button type="button" class="btn btn-danger ng-hide">Export (XLS)</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="ecom-product-item" data-ng-show="!ShowLoader">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Period</th>
                        <th>Quantity</th>
                        <th>Orders</th>
                        <th>Sales Items</th>
                        <th>Sales Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="data in GetReportsData track by $index">
                        <td>{{data.datetime}}</td>
                        <td>{{data.ProductQuanitytCount}}</td>
                        <td>{{data.totalOrders}}</td>
                        <td>{{data.orderProductCount}}</td>
                        <td>{{data.grandtotal  | currencyConvert : getGeneralSettings.currency_code}}</td>
                    </tr>
                    <tr data-ng-if="GetReportsData.length<=0">
                        <td colspan="5">No records found</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>