.dirCateItems .bigcheck {
  position: absolute;
  right: 15px;
  top: 3px;
}

.bigcheck {
  font-size: 22px;
  color: $secendary-font-color;
  line-height: 1px;
}

span.bigcheck-target {
  font-family: $icon-font;
}

input[type='checkbox'].bigcheck {
  position: relative;
  left: -999em;
  + span.bigcheck-target:after {
    content: "\f10c";
  }
  &:checked + span.bigcheck-target:after {
    content: "\f058";
  }
}
