.datepicker {
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  direction: ltr;
}

.datepicker-inline {
  width: 220px;
}

.datepicker-rtl {
  direction: rtl;
  &.dropdown-menu {
    left: auto;
  }
  table tr td span {
    float: right;
  }
}

.datepicker-dropdown {
  top: 0;
  left: 0;
  &:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #999;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-top: 0;
    position: absolute;
  }
  &.datepicker-orient-left {
    &:before {
      left: 6px;
    }
    &:after {
      left: 7px;
    }
  }
  &.datepicker-orient-right {
    &:before {
      right: 6px;
    }
    &:after {
      right: 7px;
    }
  }
  &.datepicker-orient-bottom {
    &:before {
      top: -7px;
    }
    &:after {
      top: -6px;
    }
  }
  &.datepicker-orient-top {
    &:before {
      bottom: -7px;
      border-bottom: 0;
      border-top: 7px solid #999;
    }
    &:after {
      bottom: -6px;
      border-bottom: 0;
      border-top: 6px solid #fff;
    }
  }
}

.datepicker {
  table {
    margin: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  td, th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
  }
}

.table-striped .datepicker table tr {
  td, th {
    background-color: transparent;
  }
}

.datepicker {
  table tr td {
    &.day {
      &.focused, &:hover {
        background: #eee;
        cursor: pointer;
      }
    }
    &.new, &.old {
      color: #999;
    }
    &.disabled {
      background: 0 0;
      color: #999;
      cursor: default;
      &:hover {
        background: 0 0;
        color: #999;
        cursor: default;
      }
    }
    &.highlighted {
      background: #d9edf7;
      border-radius: 0;
    }
    &.today {
      background-color: #fde19a;
      background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
      background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
      background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
      background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
      background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
      border-color: #fdf59a #fdf59a #fbed50;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      color: #000;
      &.disabled {
        background-color: #fde19a;
        background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
        background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
        border-color: #fdf59a #fdf59a #fbed50;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #000;
        &:hover {
          background-color: #fde19a;
          background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
          background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
          background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
          background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
          background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
          border-color: #fdf59a #fdf59a #fbed50;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          color: #000;
        }
      }
      &:hover {
        background-color: #fde19a;
        background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
        background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
        border-color: #fdf59a #fdf59a #fbed50;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #000;
      }
      &.active {
        background-color: #fdf59a;
      }
      &.disabled {
        background-color: #fdf59a;
        &.active, &.disabled, &:active {
          background-color: #fdf59a;
        }
        &:hover {
          background-color: #fdf59a;
          &.active, &.disabled, &:active, &:hover, &[disabled] {
            background-color: #fdf59a;
          }
        }
        &[disabled] {
          background-color: #fdf59a;
        }
      }
      &:active {
        background-color: #fdf59a;
      }
      &:hover {
        background-color: #fdf59a;
        &.active, &.disabled, &:active, &:hover, &[disabled] {
          background-color: #fdf59a;
        }
      }
      &[disabled] {
        background-color: #fdf59a;
      }
      &.active {
        background-color: #fbf069\9;
      }
      &.disabled {
        &.active, &:active {
          background-color: #fbf069\9;
        }
        &:hover {
          &.active, &:active {
            background-color: #fbf069\9;
          }
        }
      }
      &:active {
        background-color: #fbf069\9;
      }
      &:hover {
        &.active, &:active {
          background-color: #fbf069\9;
        }
        &:hover {
          color: #000;
        }
      }
      &.active:hover {
        color: #fff;
      }
    }
    &.range {
      background: #eee;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      &.disabled {
        background: #eee;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        &:hover {
          background: #eee;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
      }
      &:hover {
        background: #eee;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
      }
      &.today {
        background-color: #f3d17a;
        background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
        background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
        background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
        background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
        background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
        border-color: #f3e97a #f3e97a #edde34;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        &.disabled {
          background-color: #f3d17a;
          background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
          background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
          border-color: #f3e97a #f3e97a #edde34;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
          &:hover {
            background-color: #f3d17a;
            background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
            background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
            background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
            background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
            background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
            border-color: #f3e97a #f3e97a #edde34;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
          }
        }
        &:hover {
          background-color: #f3d17a;
          background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
          background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
          border-color: #f3e97a #f3e97a #edde34;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-radius: 0;
        }
        &.active {
          background-color: #f3e97a;
        }
        &.disabled {
          background-color: #f3e97a;
          &.active, &.disabled, &:active {
            background-color: #f3e97a;
          }
          &:hover {
            background-color: #f3e97a;
            &.active, &.disabled, &:active, &:hover, &[disabled] {
              background-color: #f3e97a;
            }
          }
          &[disabled] {
            background-color: #f3e97a;
          }
        }
        &:active {
          background-color: #f3e97a;
        }
        &:hover {
          background-color: #f3e97a;
          &.active, &.disabled, &:active, &:hover, &[disabled] {
            background-color: #f3e97a;
          }
        }
        &[disabled] {
          background-color: #f3e97a;
        }
        &.active {
          background-color: #efe24b\9;
        }
        &.disabled {
          &.active, &:active {
            background-color: #efe24b\9;
          }
          &:hover {
            &.active, &:active {
              background-color: #efe24b\9;
            }
          }
        }
        &:active {
          background-color: #efe24b\9;
        }
        &:hover {
          &.active, &:active {
            background-color: #efe24b\9;
          }
        }
      }
    }
    &.selected {
      background-color: #9e9e9e;
      background-image: -moz-linear-gradient(to bottom, #b3b3b3, grey);
      background-image: -ms-linear-gradient(to bottom, #b3b3b3, grey);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(grey));
      background-image: -webkit-linear-gradient(to bottom, #b3b3b3, grey);
      background-image: -o-linear-gradient(to bottom, #b3b3b3, grey);
      background-image: linear-gradient(to bottom, #b3b3b3, grey);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
      border-color: grey grey #595959;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      &.disabled {
        background-color: #9e9e9e;
        background-image: -moz-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: -ms-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(grey));
        background-image: -webkit-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: -o-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: linear-gradient(to bottom, #b3b3b3, grey);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
        border-color: grey grey #595959;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        &:hover {
          background-color: #9e9e9e;
          background-image: -moz-linear-gradient(to bottom, #b3b3b3, grey);
          background-image: -ms-linear-gradient(to bottom, #b3b3b3, grey);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(grey));
          background-image: -webkit-linear-gradient(to bottom, #b3b3b3, grey);
          background-image: -o-linear-gradient(to bottom, #b3b3b3, grey);
          background-image: linear-gradient(to bottom, #b3b3b3, grey);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
          border-color: grey grey #595959;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
      &:hover {
        background-color: #9e9e9e;
        background-image: -moz-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: -ms-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(grey));
        background-image: -webkit-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: -o-linear-gradient(to bottom, #b3b3b3, grey);
        background-image: linear-gradient(to bottom, #b3b3b3, grey);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
        border-color: grey grey #595959;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
      &.active {
        background-color: grey;
      }
      &.disabled {
        background-color: grey;
        &.active, &.disabled, &:active {
          background-color: grey;
        }
        &:hover {
          background-color: grey;
          &.active, &.disabled, &:active, &:hover, &[disabled] {
            background-color: grey;
          }
        }
        &[disabled] {
          background-color: grey;
        }
      }
      &:active {
        background-color: grey;
      }
      &:hover {
        background-color: grey;
        &.active, &.disabled, &:active, &:hover, &[disabled] {
          background-color: grey;
        }
      }
      &[disabled] {
        background-color: grey;
      }
      &.active {
        background-color: #666 \9;
      }
      &.disabled {
        &.active, &:active {
          background-color: #666 \9;
        }
        &:hover {
          &.active, &:active {
            background-color: #666 \9;
          }
        }
      }
      &:active {
        background-color: #666 \9;
      }
      &:hover {
        &.active, &:active {
          background-color: #666 \9;
        }
      }
    }
    &.active {
      background-color: #006dcc;
      background-image: -moz-linear-gradient(to bottom, #08c, #04c);
      background-image: -ms-linear-gradient(to bottom, #08c, #04c);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
      background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
      background-image: -o-linear-gradient(to bottom, #08c, #04c);
      background-image: linear-gradient(to bottom, #08c, #04c);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
      border-color: #04c #04c #002a80;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      color: #fff;
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      &.disabled {
        background-color: #006dcc;
        background-image: -moz-linear-gradient(to bottom, #08c, #04c);
        background-image: -ms-linear-gradient(to bottom, #08c, #04c);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
        background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
        background-image: -o-linear-gradient(to bottom, #08c, #04c);
        background-image: linear-gradient(to bottom, #08c, #04c);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
        border-color: #04c #04c #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        &:hover {
          background-color: #006dcc;
          background-image: -moz-linear-gradient(to bottom, #08c, #04c);
          background-image: -ms-linear-gradient(to bottom, #08c, #04c);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
          background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
          background-image: -o-linear-gradient(to bottom, #08c, #04c);
          background-image: linear-gradient(to bottom, #08c, #04c);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
          border-color: #04c #04c #002a80;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
      }
      &:hover {
        background-color: #006dcc;
        background-image: -moz-linear-gradient(to bottom, #08c, #04c);
        background-image: -ms-linear-gradient(to bottom, #08c, #04c);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
        background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
        background-image: -o-linear-gradient(to bottom, #08c, #04c);
        background-image: linear-gradient(to bottom, #08c, #04c);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
        border-color: #04c #04c #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
      }
      &.active {
        background-color: #04c;
      }
      &.disabled {
        background-color: #04c;
        &:active {
          background-color: #04c;
        }
        &:hover {
          background-color: #04c;
          &:active, &:hover, &[disabled] {
            background-color: #04c;
          }
        }
        &[disabled] {
          background-color: #04c;
        }
      }
      &:active {
        background-color: #04c;
      }
      &:hover {
        background-color: #04c;
        &.disabled, &:active, &:hover, &[disabled] {
          background-color: #04c;
        }
      }
      &[disabled] {
        background-color: #04c;
      }
      &.active {
        background-color: #039 \9;
      }
      &.disabled {
        &.active, &:active {
          background-color: #039 \9;
        }
        &:hover {
          &.active, &:active {
            background-color: #039 \9;
          }
        }
      }
      &:active {
        background-color: #039 \9;
      }
      &:hover {
        &.active, &:active {
          background-color: #039 \9;
        }
      }
    }
    span {
      display: block;
      width: 23%;
      height: 54px;
      line-height: 54px;
      float: left;
      margin: 1%;
      cursor: pointer;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      &.focused, &:hover {
        background: #eee;
      }
      &.disabled {
        background: 0 0;
        color: #999;
        cursor: default;
        &:hover {
          background: 0 0;
          color: #999;
          cursor: default;
        }
      }
      &.active {
        background-color: #006dcc;
        background-image: -moz-linear-gradient(to bottom, #08c, #04c);
        background-image: -ms-linear-gradient(to bottom, #08c, #04c);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
        background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
        background-image: -o-linear-gradient(to bottom, #08c, #04c);
        background-image: linear-gradient(to bottom, #08c, #04c);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
        border-color: #04c #04c #002a80;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        &.disabled {
          background-color: #006dcc;
          background-image: -moz-linear-gradient(to bottom, #08c, #04c);
          background-image: -ms-linear-gradient(to bottom, #08c, #04c);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
          background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
          background-image: -o-linear-gradient(to bottom, #08c, #04c);
          background-image: linear-gradient(to bottom, #08c, #04c);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
          border-color: #04c #04c #002a80;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          &:hover {
            background-color: #006dcc;
            background-image: -moz-linear-gradient(to bottom, #08c, #04c);
            background-image: -ms-linear-gradient(to bottom, #08c, #04c);
            background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
            background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
            background-image: -o-linear-gradient(to bottom, #08c, #04c);
            background-image: linear-gradient(to bottom, #08c, #04c);
            background-repeat: repeat-x;
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
            border-color: #04c #04c #002a80;
            border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
            filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
          }
        }
        &:hover {
          background-color: #006dcc;
          background-image: -moz-linear-gradient(to bottom, #08c, #04c);
          background-image: -ms-linear-gradient(to bottom, #08c, #04c);
          background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#04c));
          background-image: -webkit-linear-gradient(to bottom, #08c, #04c);
          background-image: -o-linear-gradient(to bottom, #08c, #04c);
          background-image: linear-gradient(to bottom, #08c, #04c);
          background-repeat: repeat-x;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
          border-color: #04c #04c #002a80;
          border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
          filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
          color: #fff;
          text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        }
        &.active {
          background-color: #04c;
        }
        &.disabled {
          background-color: #04c;
          &:active {
            background-color: #04c;
          }
          &:hover {
            background-color: #04c;
            &:active, &:hover, &[disabled] {
              background-color: #04c;
            }
          }
          &[disabled] {
            background-color: #04c;
          }
        }
        &:active {
          background-color: #04c;
        }
        &:hover {
          background-color: #04c;
          &.disabled, &:active, &:hover, &[disabled] {
            background-color: #04c;
          }
        }
        &[disabled] {
          background-color: #04c;
        }
        &.active {
          background-color: #039 \9;
        }
        &.disabled {
          &.active, &:active {
            background-color: #039 \9;
          }
          &:hover {
            &.active, &:active {
              background-color: #039 \9;
            }
          }
        }
        &:active {
          background-color: #039 \9;
        }
        &:hover {
          &.active, &:active {
            background-color: #039 \9;
          }
        }
      }
      &.new, &.old {
        color: #999;
      }
    }
  }
  .datepicker-switch {
    width: 145px;
    cursor: pointer;
  }
  .next, .prev, tfoot tr th {
    cursor: pointer;
  }
  .datepicker-switch:hover, .next:hover, .prev:hover, tfoot tr th:hover {
    background: #eee;
  }
  .next.disabled, .prev.disabled {
    visibility: hidden;
  }
  .cw {
    font-size: 10px;
    width: 12px;
    padding: 0 2px 0 5px;
    vertical-align: middle;
  }
}

.input-append.date .add-on, .input-prepend.date .add-on {
  cursor: pointer;
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
  margin-top: 3px;
}

.input-daterange {
  input {
    text-align: center;
    &:first-child {
      -webkit-border-radius: 3px 0 0 3px;
      -moz-border-radius: 3px 0 0 3px;
      border-radius: 3px 0 0 3px;
    }
    &:last-child {
      -webkit-border-radius: 0 3px 3px 0;
      -moz-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;
    }
  }
  .add-on {
    display: inline-block;
    width: auto;
    min-width: 16px;
    height: 18px;
    padding: 4px 5px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: middle;
    background-color: #eee;
    border: 1px solid #ccc;
    margin-left: -5px;
    margin-right: -5px;
  }
}




.datepicker {
  td, th {
    background: $table-heading-color;
    border-color: $table-heading-border-color;
    color: $table-heading-font-color;
    border: 0;
    border-radius: 0;
  }
  table tr td.day {
    &.focused, &:hover {
      background: $table-hover-color;
      cursor: pointer;
    }
  }
  .datepicker-switch:hover, .next:hover, .prev:hover, tfoot tr th:hover {
    background: $table-hover-color;
    cursor: pointer;
  }
}