.pagination > {
  .active > {
    a {
      background-color: $pagination-color;
      border-color: $pagination-border-color;
      &:focus, &:hover {
        background-color: $pagination-color;
        border-color: $pagination-border-color;
      }
    }
    span {
      background-color: $pagination-color;
      border-color: $pagination-border-color;
      &:focus, &:hover {
        background-color: $pagination-color;
        border-color: $pagination-border-color;
      }
    }
  }
  li > {
    a, span {
      background-color: transparent;
      border: 1px solid $pagination-border-secondary-color;
      color: #7b7b7b;
      margin-right: 5px;
      border-radius: 0px;
      font-size: 12px;
      padding: 5px 10px;
    }
  }
}
