.modal-content { border-radius: 0;}
.modal-header {background: #25292C; color: #fff;}
input[type="file"] {
    background: white;
    cursor: inherit;
    display: block;
    font-size: 100px;
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    outline: none;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}