body {
  width: 100%;
  height: 100%;
  background: $base-color;
}


html {
  width: 100%;
  height: 100%;
}

/*Deshboard-CSS*/

.intro-section {
  padding-top: 50px;
  padding-bottom: 0px;
}

a {
  &.ecom-icon-box {
    background: #fff;
    border: 1px solid $border-color;
    margin: 0 auto 20px;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 3px 0 $box-shadow;
    text-decoration: none;
    display: block;
    text-align: center;
    cursor: pointer;
    .ecom-icon {
      color: #d63135;
      padding: 20px 0 10px;
      font-size: 80px;
    }
    .ecom-category-name {
      font-size: 16px;
      color: #222;
      font-family: $secendary-font;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  &:hover.ecom-icon-box {
    box-shadow: 0 0 5px $primary-color;
  }
  &.ecom-icon-box-view {
    display: block;
    text-align: center;
    text-decoration: none;
    margin-bottom: 20px;
    opacity: .5;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    &.active {
      opacity: 1;
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }
    .ecom-icon {
      color: $primary-color;
      padding: 10px 0 10px;
      font-size: 60px;
      background: $white;
      border: 1px solid $border-color;
      margin: 0 auto 10px;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      box-shadow: 0 3px 0 $primary-color;
      text-decoration: none;
    }
    .ecom-icon-name {
      font-size: 12px;
      color: $icon-color;
      font-family: $secendary-font;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
}

/*Catelog-CSS*/

/*a:hover.ecom-icon-box-view{box-shadow:0 0 5px #d63135;}*/

.ecom-category-area {
  /*background:#25292C;*/
  padding: 10px 30px;
}

.ecom-h1 {
  font-size: 26px;
  color: #fff;
  font-family: $secendary-font;
  font-weight: 400;
}

.dirCateItems {
  padding: 10px;
  display: inline-block;
  width: 215px;
  .dir_bx {
    background-color: white;
    width: 100%;
    position: relative;
    border: 1px solid $border-secendery-color;
    padding: 10px 10px 0;
  }
  .stackorder {
    &::before {
      top: 4%;
      width: 100%;
      z-index: -10;
      border: 0.625rem solid $white;
      border-radius: 0 0 0.0625rem 0.0625rem;
      box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
    }
    &::after {
      border: 0.625rem solid #fff;
      border-radius: 0 0 0.0625rem 0.0625rem;
      box-shadow: 0 0.0625rem 0.0625rem rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
    }
    &.biggerstackorder::before {
      top: 2%;
    }
    &.narrowed::before {
      margin-left: 2%;
      width: 95%;
    }
    &::after {
      top: 8%;
      width: 100%;
      z-index: -20;
    }
    &.biggerstackorder::after {
      top: 4%;
    }
    &.narrowed::after {
      margin-left: 4%;
      width: 90%;
    }
  }
}

.ecom-product {
  margin: 20px;
  text-align: center;
  padding: 0 10px;
  img {
    max-width: 100%;
  }
}

a {
  &.ecom-catnumber {
    display: block;
    color: $primery-font-color;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: $secendary-font;
    text-decoration: none;
  }
  &:hover.ecom-catnumber {
    color: $icon-color;
  }
  &.sub-catnumber {
    display: block;
    color: #888;
    margin-bottom: 5px;
    font-size: 15px;
    font-family: $secendary-font;
    text-decoration: none;
  }
  &:hover.sub-catnumber {
    text-decoration: underline;
  }
}

.ecom-action {
  position: relative;
  padding-bottom: 20px;
  padding-top: 7px;
}

a.action-setting {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 16px;
  color: $primary-color;
}

.ecom-h2 {
  font-size: 20px;
  color: $primary-color;
  font-family: $secendary-font;
  font-weight: 400;
}

.ecom-h3 {
  font-size: 16px;
  color: #222;
  font-family: $secendary-font;
  font-weight: 400;
}

.ecom-modal-content {
  .input-group-addon, .form-control {
    font-size: 16px;
    font-family: $secendary-font;
    font-weight: 400;
  }
}

.cat-devition {
  margin: 20px 0;
}

.ecom-thumbnail {
  text-align: center;
  border: 2px solid $border-color;
  display: table;
  width: 40%;
  margin: 30px auto 0;
  padding: 20px;
  img {
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  i {
    font-size: 100px;
    color: #ccc;
  }
}

/*Product-detail-CSS*/

.ecom-product-name {
  font-size: 14px;
  color: #484848;
  font-family: $secendary-font;
}

.marg-nil {
  margin: 0;
}

.media {
  margin: 10px 0;
  a {
    font-size: 16px;
    color: $primary-color;
    font-family: $secendary-font;
    font-weight: 400;
  }
}

.modal-body .form-group label {
  font-family: $secendary-font;
  font-weight: 400;
  font-size: 14px;
}

.ecom-search-area {
  background: $white;
  /*border:1px solid #ccc;border-top:none;*/
  padding: 20px 10px;
  margin: 0 15px;
  .form-inline {
    .form-group {
      display: block;
    }
    .form-control {
      width: 100%;
    }
  }
}

.ecom-category-area {
  h3 {
    font: normal 20px/35px $secendary-font;
    padding: 0px;
    background: none;
    border-top: 1px solid $border-color;
    color: #25292c;
    span {
      border-top: 5px solid $primary-color;
    }
  }
  .pull-right .btn-danger {
    background: $primary-color;
    border-radius: 0;
  }
}

a {
  color: $primary-color;
  &:hover {
    color: $primary-color-hover;
  }
}

.ecom-product-item {
  margin: 0 5px;
  .col-md-12.col-sm-12.col-lg-12 {
    max-width: 100%;
    overflow-x: auto;
  }
}


/*checkbox-CSS*/


.ecom-category-area .pull-right .dropdown-menu {
  left: auto;
  right: 0;
}

thead {
  background: $table-heading-color;
  border-color: $table-heading-border-color;
  color: $table-heading-font-color;
  border: 0;
  border-radius: 0;
  tr {
    background: $table-heading-color;
    border-color: $table-heading-border-color;
    color: $table-heading-font-color;
    border: 0;
    border-radius: 0;
  }
}

head th {
  background: $table-heading-color;
  border-color: $table-heading-border-color;
  color: $table-heading-font-color;
  border: 0;
  border-radius: 0;
}



.table-bordered > thead > tr > th {
  border: 0px solid #f6f6f6;
}


.open > .dropdown-menu {
  left: 15px;
}


.min-height-ecom {
  min-height: 210px;
}
.dirCateItemsOverlay {
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 2;
  padding: 20px 20px 20px;
  .btn {
    font-size: 12px;
    white-space: nowrap;
    margin: 5px 0;
    width: 100% !important;
  }
}

.hideOverlay {
  color: #fff;
  position: absolute;
  right: 20px;
  bottom: 15px;
  &:hover, &:focus, &:active {
    color: #fff;
  }
}
.red-icon{    background: $primary-color;
    color: $white;
    font-size: 28px;
    width: 100px;
    margin: 20px auto;
    height: 100px;
    border-radius: 100%;
    padding: 11%;}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

@media only screen and (max-width: 765px) {
  .spacer-top {
    margin-top: 10px;
  }
}