$base-color:              				#f6f6f6 !default;
$primary-color:			  				#D63135 !default;
$primary-color-hover:			  		$primary-color !default;
$secendary-color:		  				#000000 !default;

$white:					  				#ffffff !default;
$black:					  				#000000 !default;

$border-color:			  				#cccccc !default;
$border-secendery-color:			  	#ededed !default;

$box-shadow:			  				#d63135 !default;

$primery-font-color:	  				#585858 !default;
$secendary-font-color:	  				#337ab7 !default;
$tab-font-primery-color:	  			#909090 !default;
$tab-font-secondary-color:	  			#7c7c7c !default;

$icon-color:			  				#222222 !default;

$secendary-font:		  				'Roboto',sans-serif !default;
$icon-font:		  						'FontAwesome' !default;

$table-heading-color:		  			#252928 !default;
$table-hover-color:		  				$primary-color !default;
$table-heading-border-color:		  	$table-heading-color !default;
$table-heading-font-color:		  		$white !default;

$pagination-color:		  				#a0aab3 !default;
$pagination-border-color:		  		$pagination-color !default;
$pagination-border-secondary-color:		#e4e4e4 !default;



